PACKS_WORKFLOWS_VENDEURS_FR/16_GOOGLE_WORKSPACE_BUSINESS_SUITE_35EUR/14_0389_Manual_Googleanalytics_Import_Triggered_FR.json
{
  "id": "205",
  "name": "Obtenir les analyses d'un site web et les stocker dans Airtable",
  "nodes": [
    {
      "name": "Lors du clic sur 'exécuter'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        270,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Google Analytics",
      "type": "n8n-nodes-base.googleAnalytics",
      "position": [
        470,
        300
      ],
      "parameters": {
        "viewId": "",
        "additionalFields": {
          "metricsUi": {
            "metricValues": [
              {
                "alias": "Sessions",
                "expression": "ga:sessions"
              }
            ]
          },
          "dimensionUi": {
            "dimensionValues": [
              {
                "name": "ga:country"
              }
            ]
          },
          "dateRangesUi": {
            "dateRanges": {
              "endDate": "2020-08-30T18:30:00.000Z",
              "startDate": "2019-12-31T18:30:00.000Z"
            }
          }
        }
      },
      "credentials": {
        "googleAnalyticsOAuth2": "analytics-dev"
      },
      "typeVersion": 1
    },
    {
      "name": "Définir",
      "type": "n8n-nodes-base.set",
      "position": [
        670,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Metric",
              "value": "={{$json[\"total\"]}}"
            }
          ],
          "string": [
            {
              "name": "Country",
              "value": "={{$json[\"ga:country\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        870,
        300
      ],
      "parameters": {
        "table": "Table 1",
        "options": {},
        "operation": "append",
        "application": ""
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Définir": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Analytics": {
      "main": [
        [
          {
            "node": "Définir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lors du clic sur 'exécuter'": {
      "main": [
        [
          {
            "node": "Google Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}