workflows_traduits/FR/AutomationTribe_RESTAURE/9 - Blog + Réseaux/Download-Workflow/Autonomous_Content_Engine___Blog_Post.json
{
  "name": "Autonomous Content Engine - Blog Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        -520
      ],
      "id": "ab038d05-5026-4757-951a-8226a2c57530",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "title": "={{ $('Airtable2').item.json.fields['Blog title'] }}",
        "additionalFields": {
          "authorId": 2,
          "content": "={{ $('Airtable2').item.json.fields['Blog content'] }}",
          "status": "publish",
          "categories": [
            1
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2420,
        -340
      ],
      "id": "934bc35c-7498-4d51-86a5-d028c9769a40",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        -720
      ],
      "id": "3968c1f8-41dd-4862-9669-f7736a674f9a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create an image for this blog post: {{ $json.fields['Blog title'] }} \nWiuth this excerpt: {{ $json.fields['Blog Excerpt'] }}\nThe image ratio must be: {{ $('Airtable').item.json['Image ratio'] }}\n\n",
        "options": {
          "size": "1792x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1540,
        -240
      ],
      "id": "17dad7cf-3141-4818-b6b3-1a3940c68f2e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].title }}"
            },
            {
              "name": "slug",
              "value": "={{ $('AI Agent').item.json.output.blogSlug }}"
            },
            {
              "name": "alt_text",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].altText }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        -340
      ],
      "id": "10b01710-9ac7-45aa-90a9-e86643316935",
      "name": "Set image SEO",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "Excerpt text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -340
      ],
      "id": "50634a3d-2558-4762-8d04-70d609362c5a",
      "name": "Wp Excerpt",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $('Upload media on WP3').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        -340
      ],
      "id": "150b0c8c-a746-4ac0-901c-8ec6e14936ad",
      "name": "Set Featured Image",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "filterByFormula": "{Status} = \"In progress\"",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwNHyfomC0JtjSM3",
            "mode": "list",
            "cachedResultName": "Grid view",
            "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA/viwNHyfomC0JtjSM3"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        120,
        -620
      ],
      "id": "bee22eee-21f6-449f-beb8-40dc0365a212",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Published",
            "id": "={{ $('Airtable').item.json.id }}",
            "Final URL": "={{ $('Wordpress').item.json.guid.rendered }}",
            "Blog Posted": "Yes"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search phrase",
              "displayName": "Search phrase",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog url",
              "displayName": "Blog url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog category",
              "displayName": "Blog category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image ratio",
              "displayName": "Image ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image procesator",
              "displayName": "Image procesator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Replicate",
                  "value": "Replicate"
                },
                {
                  "name": "Open AI",
                  "value": "Open AI"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 1",
              "displayName": "Promo/Affiliate URL 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 2",
              "displayName": "Promo/Affiliate URL 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 1",
              "displayName": "Promo Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 2",
              "displayName": "Promo Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related searches",
              "displayName": "Related searches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog title",
              "displayName": "Blog title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog slug",
              "displayName": "Blog slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Excerpt",
              "displayName": "Blog Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Title",
              "displayName": "SEO Image Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Alt Text",
              "displayName": "SEO Image Alt Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Caption",
              "displayName": "SEO Image Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Description",
              "displayName": "SEO Image Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final URL",
              "displayName": "Final URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Posted",
              "displayName": "Blog Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Page Post",
              "displayName": "LinkedIn Page Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Threads Post",
              "displayName": "Threads Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pinterest Post",
              "displayName": "Pinterest Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3920,
        -340
      ],
      "id": "09e4f6ce-6ffc-4058-8ecb-4f558115a0f3",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-search-preview",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-SEARCH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=List 10 buyer-intent or product-focused keywords related to: ”{{ $json['Search phrase'] }}”. Include 5 normal keywords and 5 long-tail keywords. Separate them all using commas only."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        340,
        -620
      ],
      "id": "2892da27-709e-4a2e-aeb4-cc2621868757",
      "name": "Related searches",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# SEO Blog Content Generation for Autonomous Workflow\n\n## 🎯 Objective\nGenerate a complete, SEO-optimized blog post package using the input parameters below. Follow professional writing guidelines and ensure the result is engaging, valuable, and ready for WordPress.\n\n---\n\n## 📥 Input Parameters\n\n- **Primary Search Phrase**: {{ $('Airtable').item.json['Search phrase'] }}\n- **Related Keywords**: {{ $json.message.content }}\n- **Word Count**: {{ $('Airtable').item.json['Word Count'] }}\n- **Promo Image 1 URL**: {{ $('Airtable').item.json['Promo Image 1'] }}\n- **Promo Image 1 Link**: {{ $('Airtable').item.json['Promo/Affiliate URL 1'] }}\n- **Promo Image 2 URL**: {{ $('Airtable').item.json['Promo Image 2'] }}\n- **Promo Image 2 Link**: {{ $('Airtable').item.json['Promo/Affiliate URL 2'] }}\n\n---\n\n## 🧠 Generate the following fields (return in JSON format)\n\n1. `blogTitle`:  \n   - 60 characters max  \n   - Must include the primary search phrase  \n   - Compelling and click-worthy  \n\n2. `metaDescription`:  \n   - 150–160 characters  \n   - Summarizes the blog and encourages clicks  \n   - Include the primary keyword  \n\n3. `blogSlug`:  \n   - Derived from the blog title  \n   - Lowercase, hyphenated, URL-safe  \n\n4. `blogExcerpt`:  \n   - 2–3 sentence summary (max 300 characters)  \n   - Clear value proposition using the search phrase  \n\n5. `blogContent`:  \n   - Approx. {{ $('Airtable').item.json['Word Count'] }} words  \n   - Includes both promo images  \n     - 1st image around 1/3 of the way through  \n     - 2nd image around 2/3 through  \n   - Each image must be wrapped in a link and explained contextually  \n   - Content should feel natural, engaging, and helpful  \n   - HTML format  \n\n6. `seoImages`:  \n   - An array of two objects (one for each promo image), each containing:  \n     - `url`  \n     - `link`  \n     - `title`  \n     - `altText`  \n     - `caption`  \n     - `description`  \n\n7. `faqSection`:  \n   - 5–7 relevant FAQs  \n   - Each should have a clear `question` and concise `answer`  \n\n---\n\n## ✍️ Writing Style Guidelines\n- Professional yet conversational tone\n- Integrate the search phrase and related keywords naturally\n- Avoid keyword stuffing\n- Ensure excellent flow and readability\n- Informative, actionable, and value-driven",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        716,
        -620
      ],
      "id": "22002bc8-4499-40ab-b12b-ec183d922957",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        -400
      ],
      "id": "f747ad8d-57df-4262-adac-001ed7dde4b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"blogTitle\": \"Top 10 AI Automation Tools to Streamline Your Workflow\",\n  \"metaDescription\": \"Explore the best AI automation tools to improve efficiency and productivity. Learn how to automate tasks and optimize your business processes.\",\n  \"blogSlug\": \"ai-automation-tools-workflow\",\n  \"blogExcerpt\": \"Discover powerful AI automation tools to streamline your business workflow, save time, and boost productivity. A must-read guide for professionals.\",\n  \"blogContent\": \"<p>In today’s digital world, automation is the future...</p><p><a href='https://promo1.com'><img src='https://image1.com/promo.jpg' alt='Promo 1'></a></p><p>Midway content continues here...</p><p><a href='https://promo2.com'><img src='https://image2.com/promo.jpg' alt='Promo 2'></a></p><p>Conclusion and CTA...</p>\",\n  \"seoImages\": [\n    {\n      \"url\": \"https://image1.com/promo.jpg\",\n      \"link\": \"https://promo1.com\",\n      \"title\": \"AI Tool Promo 1\",\n      \"altText\": \"Visual of AI Tool Promo 1\",\n      \"caption\": \"AI-Powered Productivity Tool\",\n      \"description\": \"A promotional visual highlighting the benefits of this AI automation software.\"\n    },\n    {\n      \"url\": \"https://image2.com/promo.jpg\",\n      \"link\": \"https://promo2.com\",\n      \"title\": \"AI Tool Promo 2\",\n      \"altText\": \"Visual of AI Tool Promo 2\",\n      \"caption\": \"Streamline Workflows with AI\",\n      \"description\": \"A second promotional image to illustrate workflow optimization through automation.\"\n    }\n  ],\n  \"faqSection\": [\n    {\n      \"question\": \"What is AI automation?\",\n      \"answer\": \"AI automation uses artificial intelligence to perform repetitive tasks, saving time and increasing accuracy.\"\n    },\n    {\n      \"question\": \"How do AI tools help with workflow?\",\n      \"answer\": \"They automate steps in your process, reducing manual effort and improving consistency.\"\n    },\n    {\n      \"question\": \"Are these tools easy to integrate?\",\n      \"answer\": \"Most modern tools like n8n and Make offer no-code interfaces, making integration simple.\"\n    },\n    {\n      \"question\": \"Can I use AI tools for content creation?\",\n      \"answer\": \"Yes, tools like ChatGPT, Claude, and others are widely used to automate writing and ideation.\"\n    },\n    {\n      \"question\": \"Do AI tools require coding skills?\",\n      \"answer\": \"Not always — many tools are designed for non-technical users with drag-and-drop interfaces.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        900,
        -400
      ],
      "id": "63447ad3-976d-4144-a0dc-0b256dadeda3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Related searches": "={{ $('Related searches').item.json.message.content }}",
            "Blog title": "={{ $json.output.blogTitle }}",
            "Blog content": "={{ $json.output.blogContent }}",
            "Meta Description": "={{ $json.output.metaDescription }}",
            "Blog slug": "={{ $json.output.blogSlug }}",
            "Blog Excerpt": "={{ $json.output.blogExcerpt }}",
            "SEO Image Title": "={{ $json.output.seoImages[0].title }}",
            "SEO Image Alt Text": "={{ $json.output.seoImages[0].altText }}",
            "SEO Image Caption": "={{ $json.output.seoImages[0].caption }}",
            "SEO Image Description": "={{ $json.output.seoImages[0].description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search phrase",
              "displayName": "Search phrase",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog url",
              "displayName": "Blog url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog category",
              "displayName": "Blog category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image ratio",
              "displayName": "Image ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image procesator",
              "displayName": "Image procesator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Replicate",
                  "value": "Replicate"
                },
                {
                  "name": "Open AI",
                  "value": "Open AI"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 1",
              "displayName": "Promo/Affiliate URL 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 2",
              "displayName": "Promo/Affiliate URL 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 1",
              "displayName": "Promo Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 2",
              "displayName": "Promo Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related searches",
              "displayName": "Related searches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog title",
              "displayName": "Blog title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog content",
              "displayName": "Blog content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog slug",
              "displayName": "Blog slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Excerpt",
              "displayName": "Blog Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Title",
              "displayName": "SEO Image Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Alt Text",
              "displayName": "SEO Image Alt Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Caption",
              "displayName": "SEO Image Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Description",
              "displayName": "SEO Image Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final URL",
              "displayName": "Final URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Posted",
              "displayName": "Blog Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Page Post",
              "displayName": "LinkedIn Page Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Threads Post",
              "displayName": "Threads Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pinterest Post",
              "displayName": "Pinterest Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1092,
        -620
      ],
      "id": "58d04499-e8e9-41ad-b1b4-433b16fbc527",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Airtable').item.json['Image procesator'] }}",
                    "rightValue": "Replicate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6fcba696-3b24-465e-b97c-6510b8b0d1dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Replicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2e423c0-b469-4750-bc8c-519aa9ef61a7",
                    "leftValue": "={{ $('Airtable').item.json['Image procesator'] }}",
                    "rightValue": "Open AI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Open Ai"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1312,
        -620
      ],
      "id": "6af1d070-dd35-4f2c-ab28-fd01d45c40e5",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        -340
      ],
      "id": "d0521208-715f-4681-81c3-7a1158138f53",
      "name": "Merge"
    },
    {
      "parameters": {
        "name": "={{ $('Airtable2').item.json.fields['Blog title'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14AKKbLKtFoToesFJnZbxcW80_sZQo3c7",
          "mode": "list",
          "cachedResultName": "N8N-Autonomous Content Engine",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14AKKbLKtFoToesFJnZbxcW80_sZQo3c7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        -140
      ],
      "id": "d6f8469c-5589-4d68-adca-0ae41b3445db",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP2Td0vsw7OxPZcD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1980,
        -140
      ],
      "id": "3bf2ad4e-07bd-4a7d-ab77-9b268ddc0221",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP2Td0vsw7OxPZcD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Featured thumbnail": "={{ $json['Featured thumbnail'] }}",
            "Final URL": "=",
            "id": "={{ $('Airtable').item.json.id }}",
            "Blog Posted": "Yes"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search phrase",
              "displayName": "Search phrase",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog url",
              "displayName": "Blog url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog category",
              "displayName": "Blog category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image ratio",
              "displayName": "Image ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image procesator",
              "displayName": "Image procesator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Replicate",
                  "value": "Replicate"
                },
                {
                  "name": "Open AI",
                  "value": "Open AI"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 1",
              "displayName": "Promo/Affiliate URL 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 2",
              "displayName": "Promo/Affiliate URL 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 1",
              "displayName": "Promo Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 2",
              "displayName": "Promo Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related searches",
              "displayName": "Related searches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog title",
              "displayName": "Blog title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog content",
              "displayName": "Blog content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog slug",
              "displayName": "Blog slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Excerpt",
              "displayName": "Blog Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Title",
              "displayName": "SEO Image Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Alt Text",
              "displayName": "SEO Image Alt Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Caption",
              "displayName": "SEO Image Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Description",
              "displayName": "SEO Image Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Featured thumbnail",
              "displayName": "Featured thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final URL",
              "displayName": "Final URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Posted",
              "displayName": "Blog Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Page Post",
              "displayName": "LinkedIn Page Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Threads Post",
              "displayName": "Threads Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pinterest Post",
              "displayName": "Pinterest Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3940,
        -140
      ],
      "id": "0a47dcc2-2558-4d7e-a4ff-fb2d4912e098",
      "name": "Airtable3",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Featured thumbnail\": [\n    {\n      \"url\": \"https://drive.google.com/uc?export=view&id={{ $('Google Drive').item.json.id }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        -140
      ],
      "id": "77deac1c-41bd-41d5-8a81-3e4d859eff1c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment; filename={{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -340
      ],
      "id": "ca965be9-56a8-4c66-9698-6361dd7934bc",
      "name": "Upload media on WP3",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-fill-pro/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer r8_ceFk9dqNazxf9xh6VbGDTeYhrkag3WV20ENqy"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.message.content }}\",\n    \"aspect_ratio\": \"{{ $('Airtable').item.json['Image ratio'] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        -980
      ],
      "id": "946e68dc-db1d-4bb1-914d-670e4f63036f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2120,
        -980
      ],
      "id": "62e0ca01-3cf4-4de7-a508-e097eee80380",
      "name": "Wait",
      "webhookId": "20bfd1d3-988b-4e13-8c18-dc292bbc8cbb"
    },
    {
      "parameters": {
        "url": "=https://api.replicate.com/v1/predictions/{{ $('HTTP Request').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer r8_ceFk9dqNazxf9xh6VbGDTeYhrkag3WV20ENqy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        -980
      ],
      "id": "9838b376-c3d7-4dc6-a70a-d1fd08ce4979",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.output[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        -980
      ],
      "id": "f8d2ab33-3951-442e-a91a-0361762dda69",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "title": "={{ $('Airtable2').item.json.fields['Blog title'] }}",
        "additionalFields": {
          "authorId": 2,
          "content": "={{ $('Airtable2').item.json.fields['Blog content'] }}",
          "status": "publish",
          "categories": [
            1
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3220,
        -880
      ],
      "id": "52ef8841-2bf9-46ed-9f9f-cd605f4ef581",
      "name": "Wordpress2",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].title }}"
            },
            {
              "name": "slug",
              "value": "={{ $('AI Agent').item.json.output.blogSlug }}"
            },
            {
              "name": "alt_text",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].altText }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('AI Agent').item.json.output.seoImages[0].description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        -880
      ],
      "id": "523ed19b-5cbd-4627-a2f5-44e0d6af64aa",
      "name": "Set image SEO2",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excerpt",
              "value": "={{ $('Airtable2').item.json.fields['Blog Excerpt'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        -880
      ],
      "id": "fdb5b289-04f2-4c22-ab0e-b85f46cc31c3",
      "name": "Wp Excerpt2",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $('Upload media on WP').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3660,
        -880
      ],
      "id": "189e11ec-35a0-44a7-98c2-a7594a779574",
      "name": "Set Featured Image2",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Final URL": "={{ $('Wordpress2').item.json.guid.rendered }}",
            "Status": "Published",
            "Blog Posted": "Yes"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search phrase",
              "displayName": "Search phrase",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog url",
              "displayName": "Blog url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog category",
              "displayName": "Blog category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image ratio",
              "displayName": "Image ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image procesator",
              "displayName": "Image procesator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Replicate",
                  "value": "Replicate"
                },
                {
                  "name": "Open AI",
                  "value": "Open AI"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 1",
              "displayName": "Promo/Affiliate URL 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 2",
              "displayName": "Promo/Affiliate URL 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 1",
              "displayName": "Promo Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 2",
              "displayName": "Promo Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related searches",
              "displayName": "Related searches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog title",
              "displayName": "Blog title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog content",
              "displayName": "Blog content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog slug",
              "displayName": "Blog slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Excerpt",
              "displayName": "Blog Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Title",
              "displayName": "SEO Image Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Alt Text",
              "displayName": "SEO Image Alt Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Caption",
              "displayName": "SEO Image Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Description",
              "displayName": "SEO Image Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Featured thumbnail",
              "displayName": "Featured thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final URL",
              "displayName": "Final URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Posted",
              "displayName": "Blog Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Page Post",
              "displayName": "LinkedIn Page Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Threads Post",
              "displayName": "Threads Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pinterest Post",
              "displayName": "Pinterest Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3880,
        -880
      ],
      "id": "be0c0506-7bf7-4d21-8f65-8f2bc10ef7ee",
      "name": "Airtable5",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Airtable').item.json['Blog url'] }}wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment; filename={{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        -880
      ],
      "id": "2cf105ff-9980-4848-ac24-f0a43330d2e8",
      "name": "Upload media on WP",
      "credentials": {
        "wordpressApi": {
          "id": "n8nsFnR5bNZ96duC",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('AI Agent').item.json.output.blogTitle }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14AKKbLKtFoToesFJnZbxcW80_sZQo3c7",
          "mode": "list",
          "cachedResultName": "N8N-Autonomous Content Engine",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14AKKbLKtFoToesFJnZbxcW80_sZQo3c7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2780,
        -1080
      ],
      "id": "b395dc27-8460-4477-98f4-3363f77f5aba",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP2Td0vsw7OxPZcD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3440,
        -1080
      ],
      "id": "591f6408-c598-4081-9e4c-e9bb2e051151",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP2Td0vsw7OxPZcD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Featured thumbnail": "={{ $json['Featured thumbnail'] }}",
            "Final URL": "=",
            "id": "={{ $('Airtable').item.json.id }}",
            "Blog Posted": "Yes"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search phrase",
              "displayName": "Search phrase",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog url",
              "displayName": "Blog url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog category",
              "displayName": "Blog category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image ratio",
              "displayName": "Image ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image procesator",
              "displayName": "Image procesator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Replicate",
                  "value": "Replicate"
                },
                {
                  "name": "Open AI",
                  "value": "Open AI"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 1",
              "displayName": "Promo/Affiliate URL 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 2",
              "displayName": "Promo/Affiliate URL 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 1",
              "displayName": "Promo Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 2",
              "displayName": "Promo Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related searches",
              "displayName": "Related searches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog title",
              "displayName": "Blog title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog content",
              "displayName": "Blog content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog slug",
              "displayName": "Blog slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Excerpt",
              "displayName": "Blog Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Title",
              "displayName": "SEO Image Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Alt Text",
              "displayName": "SEO Image Alt Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Caption",
              "displayName": "SEO Image Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Description",
              "displayName": "SEO Image Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Featured thumbnail",
              "displayName": "Featured thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final URL",
              "displayName": "Final URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Posted",
              "displayName": "Blog Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Page Post",
              "displayName": "LinkedIn Page Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Threads Post",
              "displayName": "Threads Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pinterest Post",
              "displayName": "Pinterest Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3880,
        -1080
      ],
      "id": "5b3473e4-9b0e-494e-a065-f652fabef581",
      "name": "Airtable6",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Featured thumbnail\": [\n    {\n      \"url\": \"https://drive.google.com/uc?export=view&id={{ $('Google Drive2').item.json.id }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3660,
        -1080
      ],
      "id": "7430468e-103d-4686-8592-967abdb0f90c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a visually compelling scene that represents the blog titled: \"{{ $('Airtable2').item.json.fields['Blog title'] }}\". The image should capture the essence of the following excerpt:\n\n\"{{ $('Airtable2').item.json.fields['Blog Excerpt'] }}\"\n\nUse a cinematic, high-resolution style with rich lighting and dynamic composition. Avoid text in the image. Focus on strong visual storytelling that aligns with the mood and subject of the excerpt. \n\nFormat the output as a text without any other characters. \nDo not add characters like: \\n\nDo not add characters like: \""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1540,
        -980
      ],
      "id": "a35b8840-444b-45a5-b0a2-a2ef40b848db",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Instagram }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.instagram }}\\n{{ $('Airtable4').item.json['Final URL'] }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"instagram\"\n    },\n    \"target\": {\n      \"targetType\": \"instagram\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -1220
      ],
      "id": "43815113-cc91-4169-8978-c71feb1a5a61",
      "name": "Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Pinterest }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.pinterest }} {{ $('Airtable4').item.json['Final URL'] }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"pinterest\"\n    },\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Set ID').item.json['Pinterest-Board-id'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -20
      ],
      "id": "2be75053-b498-405c-be96-ecb32177e549",
      "name": "Pinterest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.X }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.twitter }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"twitter\"\n    },\n    \"target\": {\n      \"targetType\": \"twitter\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -1020
      ],
      "id": "aeb6e9dc-fbcf-49fa-b68b-a9ff392a76e6",
      "name": "Twitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.linkedin }} {{ $('Airtable4').item.json['Final URL'] }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -820
      ],
      "id": "f85b4da9-acc1-4829-a38d-90eec6748d75",
      "name": "LinkedIn"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.linkedin }} {{ $('Airtable4').item.json['Final URL'] }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\",\n      \"pageId\": \"{{ $('Set ID').item.json['LinkedIn-page-ID'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -620
      ],
      "id": "838dda13-7660-4356-8b69-a808d0bbeaed",
      "name": "LinkedIn Page"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json['FB-Account'] }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.facebook }} {{ $('Airtable4').item.json['Final URL'] }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"facebook\"\n    },\n    \"target\": {\n        \"targetType\": \"facebook\",\n        \"pageId\": \"{{ $('Set ID').item.json['FB-Page-Sumobundle'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -420
      ],
      "id": "04b7d354-7763-4a88-a760-70f7c237cfa3",
      "name": "Fb Account"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Threads }}\",\n    \"content\": {\n      \"text\": \"{{ $('Create social posts').item.json.message.content.threads }} {{ $('Airtable4').item.json['Final URL'] }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"threads\"\n    },\n    \"target\": {\n      \"targetType\": \"threads\",\n      \"replyControl\": \"everyone\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        -220
      ],
      "id": "6956311f-a111-4718-9daa-a292536a3e88",
      "name": "Threads"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/instagram.png?v=1742473316)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -1240
      ],
      "typeVersion": 1,
      "id": "1d0d5ca9-0790-4bce-b7f3-41f8325d1b2b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/x.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -1040
      ],
      "typeVersion": 1,
      "id": "7efa79ac-f6d8-4d18-8894-3caa59545839",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -840
      ],
      "typeVersion": 1,
      "id": "eb025fa6-78b9-4750-99ed-a3c42c53a843",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -640
      ],
      "typeVersion": 1,
      "id": "1efbc375-ba4f-4844-8451-6597851f2115",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/facebook.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -440
      ],
      "typeVersion": 1,
      "id": "1bb4ff6d-4cf3-46a9-818b-35ce7224cf23",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/threads.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -240
      ],
      "typeVersion": 1,
      "id": "dc35b20f-f2d7-4dc8-a1a3-4151302fb02f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/pinterest.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6020,
        -20
      ],
      "typeVersion": 1,
      "id": "649ac669-bfbc-4504-aebe-c8d93d39bba0",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Blotato-API\": \"blt_add your own api here\",\n  \"Instagram\": \"1238\",\n  \"Pinterest\": \"258\",\n  \"Pinterest-Board-id\": \"914864180493348767\",\n  \"X\": \"993\",\n  \"LinkedIN\": \"1180\",\n  \"LinkedIn-page-ID\": \"6399836\",\n  \"Threads\": \"404\",\n  \"FB-Account\": \"1343\",\n  \"FB-Page-Stock-Graphics\": \"1493652624208458\",\n  \"FB-Page-Bundlestorm\": \"1082239155235205\",\n  \"FB-Page-Webmaster-Deals\": \"234802546593504\",\n  \"FB-Page-Sumobundle\": \"121593267596142\",\n  \"Fb-Page-Mimozastudio\": \"103680835963722\",\n  \"Youtube\": \"486\",\n  \"tiktok\": 1529\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        -620
      ],
      "id": "62e6d089-a9be-48b1-b20e-d1c0d7583402",
      "name": "Set ID"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4280,
        -640
      ],
      "id": "3bc23ff7-6f8b-4670-b633-e92e0208fbd1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional social media strategist.\n\nYour task is to write engaging, platform-appropriate social media posts based on the following blog content:\n\n---\n\n**Title:** {{ $('Merge1').item.json.fields['Blog title'] }}\n\n**Excerpt:** {{ $('Merge1').item.json.fields['Blog Excerpt'] }}\n\n**Blog content:** {{ $('Merge1').item.json.fields['Blog content'] }}\n\n---\n\nGenerate a unique post for each of the following platforms:\n- Instagram\n- Twitter (X) Maximum 200 characters\n- LinkedIn\n- Facebook Page\n- Threads\n- Pinterest\n\nEach post should:\n- Match the tone, audience, and content style of its platform\n- Use relevant hashtags (especially for Instagram, Threads, TikTok, and Pinterest)\n- Be written natively for that platform (not just reused text)\n- Be clear, human-like, and free of filler or fluff\n- Avoid using phrases like \"Check out our latest blog post\" — instead, focus on value and storytelling\n\nReturn the result in clean JSON format, like this:\n\n```json\n{\n  \"instagram\": \"Your Instagram caption here...\",\n  \"twitter\": \"Your Twitter (X) post here...\",\n  \"linkedin\": \"Your LinkedIn post here...\",\n  \"facebook\": \"Your Facebook Page post here...\",\n  \"threads\": \"Your Threads post here...\",\n  \"pinterest\": \"Your Pinterest description here...\",\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4940,
        -620
      ],
      "id": "91a187c5-f556-4d44-bbcb-a61911a36282",
      "name": "Create social posts",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Merge1').item.json.fields['Featured thumbnail'][0].url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5320,
        -620
      ],
      "id": "7ea71f80-170a-4765-b013-3fb3dfee7dd3",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Created time",
              "direction": "desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4500,
        -620
      ],
      "id": "689c5098-2375-4233-9694-ccc6d5c3b3e3",
      "name": "Airtable4",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYyrnkVTj5cAGwU",
          "mode": "list",
          "cachedResultName": "Autonomous Content Engine",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU"
        },
        "table": {
          "__rl": true,
          "value": "tblluud1PKQoE1skA",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appYyrnkVTj5cAGwU/tblluud1PKQoE1skA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Instagram Post": "={{ $('Create social posts').item.json.message.content.instagram }}",
            "X Post": "={{ $('Create social posts').item.json.message.content.twitter }}",
            "LinkedIn Post": "={{ $('Create social posts').item.json.message.content.linkedin }}",
            "LinkedIn Page Post": "={{ $('Create social posts').item.json.message.content.linkedin }}",
            "Facebook Post": "={{ $('Create social posts').item.json.message.content.facebook }}",
            "Threads Post": "={{ $('Create social posts').item.json.message.content.threads }}",
            "Pinterest Post": "={{ $('Create social posts').item.json.message.content.pinterest }}",
            "Status": "Published",
            "id": "={{ $('Airtable').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Search phrase",
              "displayName": "Search phrase",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog url",
              "displayName": "Blog url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog category",
              "displayName": "Blog category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author ID",
              "displayName": "Author ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image ratio",
              "displayName": "Image ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16:9",
                  "value": "16:9"
                },
                {
                  "name": "1:1",
                  "value": "1:1"
                },
                {
                  "name": "9:16",
                  "value": "9:16"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image procesator",
              "displayName": "Image procesator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Replicate",
                  "value": "Replicate"
                },
                {
                  "name": "Open AI",
                  "value": "Open AI"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 1",
              "displayName": "Promo/Affiliate URL 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo/Affiliate URL 2",
              "displayName": "Promo/Affiliate URL 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 1",
              "displayName": "Promo Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Promo Image 2",
              "displayName": "Promo Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related searches",
              "displayName": "Related searches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog title",
              "displayName": "Blog title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog content",
              "displayName": "Blog content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog slug",
              "displayName": "Blog slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Excerpt",
              "displayName": "Blog Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Title",
              "displayName": "SEO Image Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Alt Text",
              "displayName": "SEO Image Alt Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Caption",
              "displayName": "SEO Image Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEO Image Description",
              "displayName": "SEO Image Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Featured thumbnail",
              "displayName": "Featured thumbnail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final URL",
              "displayName": "Final URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog Posted",
              "displayName": "Blog Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Page Post",
              "displayName": "LinkedIn Page Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Threads Post",
              "displayName": "Threads Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pinterest Post",
              "displayName": "Pinterest Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5760,
        -1220
      ],
      "id": "77a42966-2f58-44b5-96df-8a2b0099bef4",
      "name": "Airtable7",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Wp Excerpt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image SEO": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wp Excerpt": {
      "main": [
        [
          {
            "node": "Set Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Related searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Featured Image": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related searches": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload media on WP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media on WP3": {
      "main": [
        [
          {
            "node": "Set image SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress2": {
      "main": [
        [
          {
            "node": "Wp Excerpt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image SEO2": {
      "main": [
        [
          {
            "node": "Wordpress2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wp Excerpt2": {
      "main": [
        [
          {
            "node": "Set Featured Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Featured Image2": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media on WP": {
      "main": [
        [
          {
            "node": "Set image SEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload media on WP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "Create social posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create social posts": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fb Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable4": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Airtable7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c64b31bd-3fcd-4176-b3c7-d02bf0f6d22c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd95e83f261cee4e80d731cb58d1c4799127663205327ab783b076c62312dcdf"
  },
  "id": "WzkReIqYKNmMqL1P",
  "tags": []
}