PACKS_WORKFLOWS_VENDEURS_FR/30_EMAIL_AI_CRM_TRINITY_POWER_57EUR/16_0092_Wait_Datetime_Automate_Triggered_FR.json
{
  "nodes": [
    {
      "name": "Déclencheur Calendly",
      "type": "n8n-nodes-base.calendlyTrigger",
      "position": [
        -600,
        1700
      ],
      "webhookId": "f3436daa-42cd-4ac9-93ff-750a9cc28165",
      "parameters": {
        "events": [
          "invitee.created"
        ]
      },
      "credentials": {
        "calendlyApi": "calendly_api"
      },
      "typeVersion": 1
    },
    {
      "name": "Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        -400,
        1600
      ],
      "parameters": {
        "type": "call",
        "subject": "={{$json[\"payload\"][\"event_type\"][\"name\"]}} avec {{$json[\"payload\"][\"invitee\"][\"name\"]}} le {{$json[\"payload\"][\"event\"][\"invitee_start_time\"]}}",
        "resource": "activity",
        "additionalFields": {}
      },
      "credentials": {
        "pipedriveApi": "pipedriveapi"
      },
      "typeVersion": 1
    },
    {
      "name": "Date et heure",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -400,
        1800
      ],
      "parameters": {
        "value": "={{$json[\"payload\"][\"event\"][\"end_time\"]}}",
        "action": "calculate",
        "options": {},
        "duration": 15,
        "timeUnit": "minutes",
        "dataPropertyName": "feedback_time"
      },
      "typeVersion": 1
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        0,
        1800
      ],
      "parameters": {
        "text": "={{$json[\"payload\"][\"event\"][\"assigned_to\"][0]}}, aujourd’hui vous aviez une réunion {{$json[\"payload\"][\"event_type\"][\"name\"]}} {{$json[\"payload\"][\"event_type\"][\"kind\"]}} avec {{$json[\"payload\"][\"invitee\"][\"name\"]}}. Veuillez écrire vos notes de l’appel ici [link] et marquez ce message avec ✅ lorsque vous avez terminé.",
        "channel": "salesteam",
        "blocksUi": {
          "blocksValues": []
        },
        "attachments": [],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": "slack_nodeqa"
      },
      "typeVersion": 1
    },
    {
      "name": "Attendre",
      "type": "n8n-nodes-base.wait",
      "position": [
        -200,
        1800
      ],
      "webhookId": "05c224b9-6ca7-40e7-97cb-bc1ddc3b55af",
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json[\"feedback_time\"]}}"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Attendre": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date et heure": {
      "main": [
        [
          {
            "node": "Attendre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur Calendly": {
      "main": [
        [
          {
            "node": "Date et heure",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}