PACKS_WORKFLOWS_VENDEURS_FR/27_BUSINESS_EFFICIENCY_MAXIMIZER_42EUR/11_0103_Netlify_Airtable_Automate_Triggered_FR.json
{
  "nodes": [
    {
      "name": "Déclencheur Netlify",
      "type": "n8n-nodes-base.netlifyTrigger",
      "position": [
        450,
        300
      ],
      "webhookId": "df7efc17-09bb-4409-9f6f-09bd5e59546e",
      "parameters": {
        "event": "submissionCreated",
        "formId": "615ad58f9f491e00070abac5",
        "siteId": "b585059c-a19a-487c-831f-c57af6f13bd1"
      },
      "credentials": {
        "netlifyApi": "Netlify account"
      },
      "typeVersion": 1
    },
    {
      "name": "Définir",
      "type": "n8n-nodes-base.set",
      "position": [
        650,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$json[\"email\"]}}"
            },
            {
              "name": "Role",
              "value": "={{$json[\"role\"][0]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        850,
        300
      ],
      "parameters": {
        "table": "Table 1",
        "options": {},
        "operation": "append",
        "application": "apphwBsFxzjDPDBA8"
      },
      "credentials": {
        "airtableApi": "Airtable Credentials @n8n"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Définir": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur Netlify": {
      "main": [
        [
          {
            "node": "Définir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}