PACKS_WORKFLOWS_VENDEURS_FR/27_BUSINESS_EFFICIENCY_MAXIMIZER_42EUR/12_0115_HubSpot_Clearbit_Update_Triggered_FR.json
{
  "nodes": [
    {
      "name": "Clearbit",
      "type": "n8n-nodes-base.clearbit",
      "position": [
        850,
        300
      ],
      "parameters": {
        "email": "={{$json[\"properties\"][\"email\"][\"value\"]}}",
        "resource": "person",
        "additionalFields": {}
      },
      "credentials": {
        "clearbitApi": {
          "id": "296",
          "name": "Clearbit account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Déclencheur Hubspot",
      "type": "n8n-nodes-base.hubspotTrigger",
      "position": [
        450,
        300
      ],
      "webhookId": "b9c442e0-6f98-4d6f-8170-7135c4dbd850",
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "credentials": {
        "hubspotDeveloperApi": {
          "id": "295",
          "name": "Hubspot Developer account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Obtenir le contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        650,
        300
      ],
      "parameters": {
        "resource": "contact",
        "contactId": "={{$json[\"contactId\"]}}",
        "operation": "get",
        "authentication": "oAuth2",
        "additionalFields": {}
      },
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "268",
          "name": "HubSpot@Test Account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Mettre à jour le contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "email": "={{$json[\"email\"]}}",
        "resource": "contact",
        "authentication": "oAuth2",
        "additionalFields": {
          "city": "={{$json[\"geo\"][\"city\"]}}",
          "jobTitle": "={{$json[\"employment\"][\"title\"]}}",
          "companyName": "={{$json[\"employment\"][\"name\"]}}"
        }
      },
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "268",
          "name": "HubSpot@Test Account"
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Clearbit": {
      "main": [
        [
          {
            "node": "Mettre à jour le contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenir le contact": {
      "main": [
        [
          {
            "node": "Clearbit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur Hubspot": {
      "main": [
        [
          {
            "node": "Obtenir le contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}