PACKS_WORKFLOWS_VENDEURS_FR/27_BUSINESS_EFFICIENCY_MAXIMIZER_42EUR/18_0218_Manual_Airtable_Update_Triggered_FR.json
{
  "id": "171",
  "name": "Insérer et mettre à jour des données dans Airtable",
  "nodes": [
    {
      "name": "Au clic sur 'exécuter'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        500,
        350
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        900,
        350
      ],
      "parameters": {
        "table": "Table 1",
        "options": {},
        "operation": "append",
        "application": ""
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1100,
        350
      ],
      "parameters": {
        "table": "={{$node[\"Airtable\"].parameter[\"table\"]}}",
        "operation": "list",
        "application": "={{$node[\"Airtable\"].parameter[\"application\"]}}",
        "additionalOptions": {
          "filterByFormula": "Name='n8n'"
        }
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1
    },
    {
      "name": "Définir",
      "type": "n8n-nodes-base.set",
      "position": [
        700,
        350
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ID",
              "value": 3
            }
          ],
          "string": [
            {
              "name": "Name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Définir1",
      "type": "n8n-nodes-base.set",
      "position": [
        1300,
        350
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "nodemation"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1500,
        350
      ],
      "parameters": {
        "id": "={{$node[\"Airtable1\"].json[\"id\"]}}",
        "table": "={{$node[\"Airtable\"].parameter[\"table\"]}}",
        "options": {},
        "operation": "update",
        "application": "={{$node[\"Airtable\"].parameter[\"application\"]}}"
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Définir": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Définir1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Définir1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Au clic sur 'exécuter'": {
      "main": [
        [
          {
            "node": "Définir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}