PACKS_WORKFLOWS_VENDEURS_FR/14_GOOGLE_DRIVE_ORGANISATION_KING_27EUR/05_0036_Gmail_GoogleDrive_Import_FR.json
{
  "nodes": [
    {
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -34.5,
        449.5
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "additionalFields": {
          "format": "resolved",
          "labelIds": [
            "Label_1819449526183990002"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": "Gmail"
      },
      "typeVersion": 1
    },
    {
      "name": "Téléverser le fichier1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        115.5,
        449.5
      ],
      "parameters": {
        "name": "={{$binary.attachment_0.fileName}}",
        "parents": [
          "1I-tBNWFhH2FwcyiKeBOcGseWktF-nXBr"
        ],
        "binaryData": true,
        "resolveData": true,
        "authentication": "oAuth2",
        "binaryPropertyName": "attachment_0"
      },
      "credentials": {
        "googleDriveOAuth2Api": "Google Drive OAuth2 API"
      },
      "typeVersion": 1
    },
    {
      "name": "Obtenir le lien de la pièce jointe",
      "type": "n8n-nodes-base.set",
      "position": [
        280,
        450
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mp4_attachment",
              "value": "={{$json[\"webViewLink\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Gmail1": {
      "main": [
        [
          {
            "node": "Téléverser le fichier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Téléverser le fichier1": {
      "main": [
        [
          {
            "node": "Obtenir le lien de la pièce jointe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}