PACKS_WORKFLOWS_VENDEURS_FR/14_GOOGLE_DRIVE_ORGANISATION_KING_27EUR/12_0151_Awss3_GoogleDrive_Import_Triggered_FR.json
{
  "nodes": [
    {
      "name": "Déclencheur Google Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        480,
        1480
      ],
      "parameters": {
        "event": "fileUpdated",
        "options": {},
        "triggerOn": "specificFolder",
        "folderToWatch": "https://drive.google.com/drive/folders/[your_id]"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "12",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Fusionner",
      "type": "n8n-nodes-base.merge",
      "position": [
        680,
        1560
      ],
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "name.value",
        "propertyName2": "Key.value"
      },
      "typeVersion": 1
    },
    {
      "name": "AWS S3 - obtenir",
      "type": "n8n-nodes-base.awsS3",
      "position": [
        480,
        1660
      ],
      "parameters": {
        "options": {},
        "operation": "getAll",
        "bucketName": "mybucket"
      },
      "credentials": {
        "aws": {
          "id": "9",
          "name": "aws"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "AWS S3 - téléverser",
      "type": "n8n-nodes-base.awsS3",
      "position": [
        860,
        1560
      ],
      "parameters": {
        "tagsUi": {
          "tagsValues": [
            {
              "key": "source",
              "value": "gdrive"
            }
          ]
        },
        "fileName": "={{$json[\"name\"]}}",
        "operation": "upload",
        "binaryData": false,
        "bucketName": "mybucket",
        "additionalFields": {
          "serverSideEncryption": "AES256"
        }
      },
      "credentials": {
        "aws": {
          "id": "9",
          "name": "aws"
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Fusionner": {
      "main": [
        [
          {
            "node": "AWS S3 - téléverser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3 - obtenir": {
      "main": [
        [
          {
            "node": "Fusionner",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Déclencheur Google Drive": {
      "main": [
        [
          {
            "node": "Fusionner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}