PACKS_WORKFLOWS_VENDEURS_FR/12_EMAIL_CRM_SALES_MACHINE_37EUR/15_0129_HubSpot_Cron_Update_Scheduled_FR.json
{
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        560,
        350
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        760,
        250
      ],
      "parameters": {
        "resource": "person",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "credentials": {
        "pipedriveApi": {
          "id": "28",
          "name": "pipedrive_api"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Mettre à jour Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        1160,
        250
      ],
      "parameters": {
        "name": "={{$json[\"properties\"][\"firstname\"][\"value\"]}}",
        "resource": "person",
        "additionalFields": {
          "email": [
            "={{$json[\"identity-profiles\"][0][\"identities\"][0][\"value\"]}}"
          ]
        }
      },
      "credentials": {
        "pipedriveApi": {
          "id": "28",
          "name": "pipedrive_api"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        760,
        450
      ],
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "credentials": {
        "hubspotApi": {
          "id": "21",
          "name": "hubspot_account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Mettre à jour HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1160,
        450
      ],
      "parameters": {
        "email": "={{$json[\"email\"][0][\"value\"]}}",
        "resource": "contact",
        "additionalFields": {
          "firstName": "={{$json[\"first_name\"]}}"
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "21",
          "name": "hubspot_account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Fusion1",
      "type": "n8n-nodes-base.merge",
      "position": [
        960,
        250
      ],
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "identity-profiles[0].identities[0].value",
        "propertyName2": "email[0].value"
      },
      "typeVersion": 1
    },
    {
      "name": "Fusion2",
      "type": "n8n-nodes-base.merge",
      "position": [
        960,
        450
      ],
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "email[0].value",
        "propertyName2": "identity-profiles[0].identities[0].value"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Pipedrive",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion1": {
      "main": [
        [
          {
            "node": "Mettre à jour Pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion2": {
      "main": [
        [
          {
            "node": "Mettre à jour HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Fusion1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fusion2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pipedrive": {
      "main": [
        [
          {
            "node": "Fusion1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fusion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}