workflows/Automation Tribe Primium/25 - Transitions Vidéo/AT 41 - Generate Motion Graphics.json
{
  "name": "AT 41 - Generate Motion Graphics",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        -16
      ],
      "id": "6f559278-27ad-4753-a6fc-0c12bc3ccbb1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWrJ1yShiXsPbh9",
          "mode": "list",
          "cachedResultName": "Generate Motion graphics",
          "cachedResultUrl": "https://airtable.com/appWrJ1yShiXsPbh9"
        },
        "table": {
          "__rl": true,
          "value": "tbldnrKQLKsfWGiuK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appWrJ1yShiXsPbh9/tbldnrKQLKsfWGiuK"
        },
        "filterByFormula": "NOT({Status} = 'Done')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -288,
        -16
      ],
      "id": "09aad8e1-c306-4cbf-91cc-41f5e63bce68",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/minimax/hailuo-02/standard/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $('Set API Keys').item.json.Fal.ai }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json['Animation prompt'] }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json['First image'][0].url }}"
            },
            {
              "name": "end_image_url",
              "value": "={{ $json['Last image'][0].url }}"
            },
            {
              "name": "duration",
              "value": "6"
            },
            {
              "name": "resolution",
              "value": "768P"
            },
            {
              "name": "prompt_optimizer",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -16
      ],
      "id": "6b8af795-ae0a-44aa-b840-af771d150c75",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 300
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        160,
        -16
      ],
      "id": "23b54fa9-0cb8-4da1-a743-8f0330dfe67f",
      "name": "Wait",
      "webhookId": "1c0b2944-5ca2-463d-a9bb-310ecf6c9799"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/minimax/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $('Set API Keys').item.json.Fal.ai }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -16
      ],
      "id": "157344cd-166c-4772-a28b-f0cd8b46f751",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appWrJ1yShiXsPbh9",
          "mode": "list",
          "cachedResultName": "AT 41 - Generate Motion graphics",
          "cachedResultUrl": "https://airtable.com/appWrJ1yShiXsPbh9"
        },
        "table": {
          "__rl": true,
          "value": "tbldnrKQLKsfWGiuK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appWrJ1yShiXsPbh9/tbldnrKQLKsfWGiuK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final result": "=[\n  { \"url\": \"{{ $json.video.url }}\" }\n]",
            "id": "={{ $('Search records').item.json.id }}",
            "Status": "Done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First image",
              "displayName": "First image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last image",
              "displayName": "Last image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final result",
              "displayName": "Final result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        608,
        -16
      ],
      "id": "70af5188-03e2-47cb-bc99-d2a9cb3efaaf",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35659353-d8e2-4677-876b-401b549605a0",
              "name": "Fal.ai",
              "type": "string",
              "value": "d2dc9986-d5aa-43af-b2a1-335debd402f6:386356a41ae8c5523b2d5758414a0909"
            }
          ]
        },
        "options": {}
      },
      "id": "ecb063a7-8686-4dd0-a543-86ad6c634469",
      "name": "Set API Keys",
      "type": "n8n-nodes-base.set",
      "position": [
        -512,
        -16
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": "Set your API keys here"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set API Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set API Keys": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "915d166b-b8a2-4d18-aece-034b714b172b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd95e83f261cee4e80d731cb58d1c4799127663205327ab783b076c62312dcdf"
  },
  "id": "7VVYxx2uKxj51ewD",
  "tags": []
}