PACKS_WORKFLOWS_VENDEURS_FR/21_API_INTEGRATION_WIZARD_29EUR/07_0141_Notion_Webhook_Create_Webhook_FR.json
{
  "nodes": [
    {
      "name": "Extraire le nom et l'email",
      "type": "n8n-nodes-base.set",
      "position": [
        950,
        130
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"body\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$json[\"body\"][\"email\"]}}"
            }
          ],
          "boolean": []
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "S'inscrire",
      "type": "n8n-nodes-base.webhook",
      "notes": "Exemple de données d'entrée : {\"name\":\"John Doe\",\"email\":\"doe.j@northeastern.edu\"}",
      "position": [
        720,
        130
      ],
      "webhookId": "6d60a1b4-6706-4f21-a5fb-bace13c24b53",
      "parameters": {
        "path": "sign-up",
        "options": {
          "responseData": ""
        },
        "httpMethod": "POST",
        "authentication": "basicAuth"
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "11",
          "name": "Oasis Basic Auth Creds"
        }
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Si l'utilisateur existe",
      "type": "n8n-nodes-base.if",
      "position": [
        1560,
        150
      ],
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{Object.keys($json).includes(\"id\") }}",
              "value2": true
            }
          ]
        }
      },
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "name": "Créer un utilisateur",
      "type": "n8n-nodes-base.notion",
      "position": [
        1750,
        240
      ],
      "parameters": {
        "resource": "databasePage",
        "databaseId": "27a30c5b-c418-4200-8f48-d7fb7b043fbe",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$json[\"Name\"]}}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{$json[\"Email\"]}}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Oasis Hub Production"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Requête pour l'utilisateur",
      "type": "n8n-nodes-base.notion",
      "position": [
        1150,
        230
      ],
      "parameters": {
        "options": {
          "filter": {
            "singleCondition": {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{$json[\"Email\"]}}"
            }
          }
        },
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "27a30c5b-c418-4200-8f48-d7fb7b043fbe"
      },
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Oasis Hub Production"
        }
      },
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "name": "Requête pour le semestre en cours",
      "type": "n8n-nodes-base.notion",
      "position": [
        2180,
        -30
      ],
      "parameters": {
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "created_time",
                "direction": "descending",
                "timestamp": true
              }
            ]
          },
          "filter": {
            "singleCondition": {
              "key": "Is Current?|checkbox",
              "condition": "equals",
              "checkboxValue": true
            }
          }
        },
        "resource": "databasePage",
        "operation": "getAll",
        "returnAll": true,
        "databaseId": "2003319a-bc73-423a-9378-01999b4884fb"
      },
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Oasis Hub Production"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Sélectionner l'ID du semestre",
      "type": "n8n-nodes-base.set",
      "position": [
        2370,
        -30
      ],
      "parameters": {
        "values": {
          "number": [],
          "string": [
            {
              "name": "currentSemesterID",
              "value": "={{$json[\"id\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Mettre à jour le semestre pour l'utilisateur",
      "type": "n8n-nodes-base.notion",
      "position": [
        3050,
        110
      ],
      "parameters": {
        "pageId": "={{$json[\"id\"]}}",
        "resource": "databasePage",
        "operation": "update",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Semesters|relation",
              "relationValue": [
                "={{$json[\"allSemesterIDs\"].join(',')}}"
              ]
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Oasis Hub Production"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Fusionner l'ID du semestre",
      "type": "n8n-nodes-base.merge",
      "position": [
        2590,
        110
      ],
      "parameters": {
        "mode": "multiplex"
      },
      "typeVersion": 1
    },
    {
      "name": "Concaténer les IDs de semestre",
      "type": "n8n-nodes-base.function",
      "position": [
        2820,
        110
      ],
      "parameters": {
        "functionCode": "for (item of items) {\n  // Get the current semester ID\n  const currentSemesterID = item.json[\"currentSemesterID\"]\n  let allSemesterIDs = [currentSemesterID];\n\n  // Add semesters that the user is already associated with\n  if (item.json[\"Semesters\"]?.length > 0) {\n    allSemesterIDs = allSemesterIDs.concat(item.json[\"Semesters\"].filter(semesterID => semesterID !== currentSemesterID));\n  }\n\n  // Set allSemesterIDs which is used to update the relation\n  item.json[\"allSemesterIDs\"] = allSemesterIDs\n}\n\nreturn items;\n"
      },
      "typeVersion": 1
    },
    {
      "name": "Fusionner",
      "type": "n8n-nodes-base.merge",
      "position": [
        1340,
        150
      ],
      "parameters": {
        "mode": "mergeByKey",
        "propertyName1": "Email",
        "propertyName2": "Email"
      },
      "typeVersion": 1
    },
    {
      "name": "Requête utilisateur",
      "type": "n8n-nodes-base.notion",
      "position": [
        1950,
        130
      ],
      "parameters": {
        "options": {
          "filter": {
            "singleCondition": {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{$json[\"Email\"]}}"
            }
          }
        },
        "resource": "databasePage",
        "operation": "getAll",
        "returnAll": true,
        "databaseId": "27a30c5b-c418-4200-8f48-d7fb7b043fbe"
      },
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Oasis Hub Production"
        }
      },
      "typeVersion": 1,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Fusionner": {
      "main": [
        [
          {
            "node": "Si l'utilisateur existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S'inscrire": {
      "main": [
        [
          {
            "node": "Extraire le nom et l'email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requête utilisateur": {
      "main": [
        [
          {
            "node": "Requête pour le semestre en cours",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fusionner l'ID du semestre",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Créer un utilisateur": {
      "main": [
        [
          {
            "node": "Requête utilisateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si l'utilisateur existe": {
      "main": [
        [
          {
            "node": "Requête utilisateur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Créer un utilisateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requête pour l'utilisateur": {
      "main": [
        [
          {
            "node": "Fusionner",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fusionner l'ID du semestre": {
      "main": [
        [
          {
            "node": "Concaténer les IDs de semestre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sélectionner l'ID du semestre": {
      "main": [
        [
          {
            "node": "Fusionner l'ID du semestre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire le nom et l'email": {
      "main": [
        [
          {
            "node": "Fusionner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Requête pour l'utilisateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requête pour le semestre en cours": {
      "main": [
        [
          {
            "node": "Sélectionner l'ID du semestre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concaténer les IDs de semestre": {
      "main": [
        [
          {
            "node": "Mettre à jour le semestre pour l'utilisateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}