workflows/Automation Tribe Primium/14 - 30 jours contenu 1 min/Card_auto_poster.json
{
  "name": "Card auto poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -440
      ],
      "id": "6b39de9b-f850-48e1-b586-db3396bf73e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        640,
        -440
      ],
      "id": "8aba1eeb-5d1a-4de1-bcee-156f62824b74",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-ENTER YOUR API HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -440
      ],
      "id": "5261349f-7d05-4c61-a8a5-217d16c5be6a",
      "name": "Generate Image1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appmA1QweJv9K10U9",
          "mode": "list",
          "cachedResultName": "Media Poster",
          "cachedResultUrl": "https://airtable.com/appmA1QweJv9K10U9"
        },
        "table": {
          "__rl": true,
          "value": "tbl7kDz3LEqu0vmPL",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://airtable.com/appmA1QweJv9K10U9/tbl7kDz3LEqu0vmPL"
        },
        "filterByFormula": "NOT({Status} = 'Posted')",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1380,
        -440
      ],
      "id": "ff8e3519-3664-48f0-a5e5-6c622b615b54",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appmA1QweJv9K10U9",
          "mode": "list",
          "cachedResultName": "Media Poster",
          "cachedResultUrl": "https://airtable.com/appmA1QweJv9K10U9"
        },
        "table": {
          "__rl": true,
          "value": "tbl7kDz3LEqu0vmPL",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://airtable.com/appmA1QweJv9K10U9/tbl7kDz3LEqu0vmPL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Image": "=[\n  {\n    \"url\": \"https://drive.google.com/uc?export=download&id={{ $node['Google Drive'].json.id }}\"\n  }\n]",
            "Status": "Posted",
            "Caption": "={{ $json.message.content }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content type",
              "displayName": "Content type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Recepies",
                  "value": "Recepies"
                },
                {
                  "name": "Quotes",
                  "value": "Quotes"
                },
                {
                  "name": "Tutorials",
                  "value": "Tutorials"
                },
                {
                  "name": "Fitness Guides",
                  "value": "Fitness Guides"
                },
                {
                  "name": "Travel Cards",
                  "value": "Travel Cards"
                },
                {
                  "name": "Motivational Posts",
                  "value": "Motivational Posts"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Posted",
                  "value": "Posted"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1560,
        -440
      ],
      "id": "6ba21ff4-4df5-41a8-a5e6-ebafde9c773e",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "bayZlSl5jp9utzQ6",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Airtable').item.json.Name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dtY5XoTbi2GFilUQLQLRXYVqyORQe8Nf",
          "mode": "list",
          "cachedResultName": "24-Media-Poster",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dtY5XoTbi2GFilUQLQLRXYVqyORQe8Nf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        -440
      ],
      "id": "b57145fb-9b82-471b-b565-3998201bb060",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP2Td0vsw7OxPZcD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        -440
      ],
      "id": "493b48dc-37f1-4a91-a057-ac9189e456da",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP2Td0vsw7OxPZcD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "=Recepies",
                    "rightValue": "={{ $json['Content type'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a15e068-413d-4030-acb7-62d73c38d1db"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Recepies"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5aa67199-f2ad-44ca-88a4-5c3cb9f2e924",
                    "leftValue": "Quotes",
                    "rightValue": "={{ $json['Content type'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quotes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2669364c-a943-4881-8c58-0c728b3f2c00",
                    "leftValue": "Tutorials",
                    "rightValue": "={{ $json['Content type'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tutorials"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6bb4957-bfc7-4406-987e-2a8eb95e681e",
                    "leftValue": "Fitness Guides",
                    "rightValue": "={{ $json['Content type'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fitness Guides"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dec629f7-f7fc-4028-8077-f9383a0774c8",
                    "leftValue": "Travel Cards",
                    "rightValue": "={{ $json['Content type'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Travel Cards"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e19956e8-27bb-4426-860c-bde4b822b2d6",
                    "leftValue": "Motivational Posts",
                    "rightValue": "={{ $json['Content type'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Motivational Posts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1160,
        -500
      ],
      "id": "667f6672-1ef5-4bb3-8e1a-47f97981869d",
      "name": "Content Type"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON card generator specialized for fitness guides and workouts.\n\nI will provide a workout or focus area name: {{ $json.Name }}.\n\nBased on that, generate a valid JSON object matching the exact format below.\n\nThe JSON structure must be:\n\njson\nCopy\nEdit\n{\n  \"templates\": {\n    \"fitness_template\": {\n      \"image_specs\": {\n        \"style\": \"bold, athletic, modern\",\n        \"resolution\": \"high\",\n        \"aspect_ratio\": \"3:4\",\n        \"orientation\": \"portrait\",\n        \"file_format\": \"PNG\"\n      },\n      \"layout\": {\n        \"workout_title\": \"{{ $json.Name }}\",\n        \"target_area\": \"Target muscle group or fitness goal\",\n        \"intensity\": \"Light, Moderate, or Intense\",\n        \"exercises\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"cta\": \"Try this workout today!\",\n        \"background\": \"Gradient, gym texture, or energetic style\"\n      },\n      \"vibe\": \"motivating, energetic, strong\",\n      \"reference_note\": \"Designed for Instagram reels, fitness posts, or Pinterest workout pins.\"\n    }\n  }\n}\nImportant Output Rules:\n\nOutput only valid JSON (no markdown, no extra text).\n\nInclude 4–6 exercises with simple reps/time.\n\nSet realistic intensity (\"Light\", \"Moderate\", \"Intense\").\n\nAlways make the exercises sound motivational but beginner-friendly unless otherwise noted."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        -340
      ],
      "id": "f1d52290-3f21-4905-a6ff-cfc15932e177",
      "name": "Fitness Guide",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON card generator.\n\nI will provide a destination name: {{ $json.Name }}.\n\nGenerate a valid JSON object for a travel_template, formatted for a visual Instagram card.\n\nThe JSON structure must be:\n\njson\nCopy\nEdit\n{\n  \"templates\": {\n    \"travel_template\": {\n      \"image_specs\": {\n        \"style\": \"aesthetic, travel-magazine style\",\n        \"resolution\": \"high\",\n        \"aspect_ratio\": \"3:4\",\n        \"orientation\": \"portrait\",\n        \"file_format\": \"PNG\"\n      },\n      \"layout\": {\n        \"destination\": \"{{ $json.Name }}\",\n        \"best_time_to_visit\": \"Month range\",\n        \"top_attractions\": [\"Attraction 1\", \"Attraction 2\", \"Attraction 3\"],\n        \"travel_tips\": [\"Tip 1\", \"Tip 2\"],\n        \"photo_description\": \"Brief, vivid image description for the destination.\"\n      },\n      \"vibe\": \"adventurous, scenic, curated\",\n      \"reference_note\": \"Instagram-ready visual guide for travelers.\"\n    }\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        -140
      ],
      "id": "f91f98ac-a9e0-4d6d-bc49-4c47c534d73d",
      "name": "Travel Cards",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON card generator specialized for recipes.\n\nI will provide you the dish name: {{ $json.Name }}.\n\nBased on that, generate a valid JSON object matching the structure below for a recipe card.\n\nThe JSON must look like this:\n\njson\nCopy\nEdit\n{\n  \"templates\": {\n    \"recipe_template\": {\n      \"image_specs\": {\n        \"style\": \"modern, clean\",\n        \"resolution\": \"high\",\n        \"aspect_ratio\": \"3:4\",\n        \"orientation\": \"portrait\",\n        \"file_format\": \"PNG\"\n      },\n      \"layout\": {\n        \"background\": {\n          \"setting\": \"minimal white with marble texture\",\n          \"color\": \"#ffffff\"\n        },\n        \"headline\": {\n          \"text\": \"{{ $json.Name }}\",\n          \"subtitle\": \"Short delicious subtitle\",\n          \"font\": \"elegant cursive and serif\",\n          \"size\": \"36pt and 20pt\",\n          \"color\": \"#000000\",\n          \"position\": \"top-center\"\n        },\n        \"rating\": {\n          \"stars\": 5,\n          \"out_of\": 5,\n          \"position\": \"top-right\"\n        },\n        \"dish_image\": {\n          \"description\": \"Brief, appealing image description\",\n          \"position\": \"top-center\",\n          \"style\": \"flat lay photo\"\n        },\n        \"metadata\": {\n          \"servings\": \"e.g., 4 servings\",\n          \"time\": \"e.g., 30 minutes\",\n          \"position\": \"left-top under image\",\n          \"icons\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"ingredients\": {\n          \"title\": \"INGREDIENTS\",\n          \"list\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"font\": \"serif\",\n          \"size\": \"16pt\",\n          \"color\": \"#000000\",\n          \"position\": \"left column\"\n        },\n        \"steps\": {\n          \"title\": \"DIRECTIONS\",\n          \"list\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"font\": \"serif\",\n          \"size\": \"16pt\",\n          \"color\": \"#000000\",\n          \"position\": \"right column\"\n        }\n      },\n      \"vibe\": \"cozy, rustic, clean\",\n      \"reference_note\": \"Recipe card design for Instagram or Pinterest.\"\n    }\n  }\n}\nImportant Output Rules:\n\nOutput must contain only valid JSON (no extra explanations, no markdown).\n\nAlways fill at least 6–8 ingredients and 4–6 steps.\n\nAlways fill servings and cooking time realistically.\n\nThe layout must be clean, no missing keys.\n\nNo text outside {}."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        -940
      ],
      "id": "81274125-d057-4e22-b8e8-402f551cad3e",
      "name": "Recepie",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Airtable1').item.json.fields.Image[0].url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        -440
      ],
      "id": "5e8f6726-c49a-45da-990c-b5e43340ecf1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Instagram }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ],\n      \"platform\": \"instagram\"\n    },\n    \"target\": {\n      \"targetType\": \"instagram\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -1340
      ],
      "id": "9a7adcdc-19b3-4180-b367-74d423e34b36",
      "name": "Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Pinterest }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\n        \"{{ $('Airtable2').item.json['Image url'] }}\"\n      ],\n      \"platform\": \"pinterest\"\n    },\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Set ID').item.json['Pinterest-Board-id'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        260
      ],
      "id": "d077b11e-d5d6-497f-ab0f-31537bb395f1",
      "name": "Pinterest",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Images only\n**You can upload only images on Pinterest and Bluesky",
        "height": 340,
        "width": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3260,
        260
      ],
      "typeVersion": 1,
      "id": "998c2526-3400-4a03-9371-732138cc93ca",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.X }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"twitter\"\n    },\n    \"target\": {\n      \"targetType\": \"twitter\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -1140
      ],
      "id": "4fecdf2b-8b8f-49b9-a9bc-e032cbf0fc09",
      "name": "Twitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -940
      ],
      "id": "a5ddfde3-8041-4265-a714-3f27af6e052d",
      "name": "LinkedIn"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.LinkedIN }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"linkedin\"\n    },\n    \"target\": {\n      \"targetType\": \"linkedin\",\n      \"pageId\": \"{{ $('Set ID').item.json['LinkedIn-page-ID'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -740
      ],
      "id": "946fd818-1c43-4b7e-b81d-925b731ac95f",
      "name": "LinkedIn Page",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json['FB-Account'] }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"facebook\"\n    },\n    \"target\": {\n        \"targetType\": \"facebook\",\n        \"pageId\": \"{{ $('Set ID').item.json['FB-Page-Sumobundle'] }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -540
      ],
      "id": "1aa18e88-6c16-4cbe-ab88-71c4d775c4cc",
      "name": "Fb Account",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.tiktok }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\n        \"{{ $('HTTP Request').item.json.url }}\"\n      ],\n      \"platform\": \"tiktok\"\n    },\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"disabledComments\": false,\n      \"disabledDuet\": false,\n      \"disabledStitch\": false,\n      \"isBrandedContent\": false,\n      \"isYourBrand\": false,\n      \"isAiGenerated\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -340
      ],
      "id": "9b7d0a3e-46c6-4f51-a26f-a9f5f05de482",
      "name": "Tiktok",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Threads }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"threads\"\n    },\n    \"target\": {\n      \"targetType\": \"threads\",\n      \"replyControl\": \"everyone\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        60
      ],
      "id": "bd602232-4f47-4af3-afd5-92e465c3e4f8",
      "name": "Threads",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"acc_12345\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"bluesky\"\n    },\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        460
      ],
      "id": "09e07704-42a7-4c6a-a194-fe7e734655b0",
      "name": "Bluesky",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "={{ $('Set ID').item.json['Blotato-API'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Set ID').item.json.Youtube }}\",\n    \"content\": {\n      \"text\": \"{{ $('Airtable1').item.json.fields.Caption }} {{ $('Airtable1').item.json.fields.URL }}\",\n      \"mediaUrls\": [\n        \"{{ $('HTTP Request').item.json.url }}\"\n      ],\n      \"platform\": \"youtube\"\n    },\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Airtable2').item.json.Title }}\",\n      \"privacyStatus\": \"private\",\n      \"shouldNotifySubscribers\": false\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -140
      ],
      "id": "f210c98b-6b07-4138-ac67-9eae2ed34a28",
      "name": "Youtube",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/instagram.png?v=1742473316)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -1340
      ],
      "typeVersion": 1,
      "id": "74dee922-4aba-42b3-b5e2-41ddf2a6b763",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/x.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -1140
      ],
      "typeVersion": 1,
      "id": "82624274-3661-4383-8226-7c31027ca28f",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -940
      ],
      "typeVersion": 1,
      "id": "d66c74c1-1c5d-42a9-ba5b-1de8a5372b19",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/linkedin.png?v=1742473318)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -720
      ],
      "typeVersion": 1,
      "id": "f3bfffe8-a58b-4a3d-994f-b06eb6f9433d",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/facebook.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -520
      ],
      "typeVersion": 1,
      "id": "24609a94-2d40-4d65-a60a-cc7285bc149e",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/tiktok.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -320
      ],
      "typeVersion": 1,
      "id": "b95c0900-df27-457e-bf7c-da5760eabb1c",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/youtube.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        -140
      ],
      "typeVersion": 1,
      "id": "09b95f9d-f4ec-41f3-9a39-c9490562f646",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/threads.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        60
      ],
      "typeVersion": 1,
      "id": "fc93eeb9-c42f-461c-864d-da39fdfa2012",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/pinterest.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        260
      ],
      "typeVersion": 1,
      "id": "56fbcbe8-5584-4585-ba3b-3324b079d939",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://cdn.shopify.com/s/files/1/0755/4066/0562/files/bluesky.png?v=1742473317)",
        "height": 140,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3060,
        460
      ],
      "typeVersion": 1,
      "id": "348687ec-4a6a-4531-b67f-8192d24936d1",
      "name": "Sticky Note10",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Blotato-API\": \"blt_5qZyel5sCAnICuJxjaEDLw8zhae/Y1mSZfVv/rp6Muw=\",\n  \"Instagram\": \"1238\",\n  \"Pinterest\": \"258\",\n  \"Pinterest-Board-id\": \"914864180493348767\",\n  \"X\": \"993\",\n  \"LinkedIN\": \"1180\",\n  \"LinkedIn-page-ID\": \"6399836\",\n  \"Threads\": \"404\",\n  \"FB-Account\": \"1343\",\n  \"FB-Page-Stock-Graphics\": \"1493652624208458\",\n  \"FB-Page-Bundlestorm\": \"1082239155235205\",\n  \"FB-Page-Webmaster-Deals\": \"234802546593504\",\n  \"FB-Page-Sumobundle\": \"121593267596142\",\n  \"Fb-Page-Mimozastudio\": \"103680835963722\",\n  \"Youtube\": \"486\",\n  \"tiktok\": 1529\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        -440
      ],
      "id": "493df611-2295-4133-ba91-6dac11113362",
      "name": "Set ID"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media copywriter.\n\nYou will receive a JSON object containing a content card (recipe, quote, tutorial, fitness guide, travel tip, or motivational post).\n\nBased on the values in the JSON, generate a short, engaging caption for Instagram or LinkedIn.\n\n✦ The caption must:\n\nBe 1–2 sentences max\n\nBe clear, friendly, and slightly punchy\n\nMatch the style of the card (inspirational, practical, energetic, etc.)\n\nOptionally include a call to action like “Save this,” “Try this,” “Share it,” or “Tag someone”\n\nDo not include hashtags or emojis.\nDo not copy the entire card — summarize it smartly.\n\nOutput only the final caption string, nothing else.\n\nBelow is the JSON code:\n\n{{ $('Merge').item.json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1220,
        -440
      ],
      "id": "9eb85cf0-ae90-4855-a59f-5c31ac8c6424",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Blotato Setup Guide\n\nTo use this automation, you'll need a Blotato account.  \n👉 [Register here](https://dub.sh/blotato)\n\nAfter registering, watch this short video to see how everything works:  \n📺 [Watch on YouTube](https://youtu.be/ZJ8I9N-JwXQ?si=ZIpyFLLgmi74HQeD)",
        "height": 520,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        -740
      ],
      "typeVersion": 1,
      "id": "5c6a4f71-394c-4e7a-afb7-dcabd8ccc6d1",
      "name": "Sticky Note11",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Set Your Bearer Token  \nEnter your own OpenAI Bearer token in the `Generate Image` HTTP node.\n\nYou can get it from:  \n[https://platform.openai.com/account/api-keys](https://platform.openai.com/account/api-keys)\n\nMake sure your org is verified:  \n[https://help.openai.com/en/articles/10910291-api-organization-verification](https://help.openai.com/en/articles/10910291-api-organization-verification)",
        "height": 520,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -740
      ],
      "typeVersion": 1,
      "id": "532f78f6-ee04-47af-b204-7e8c312f726d",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## What this automation does\n\nThis workflow takes a title and content type from Airtable and automatically:\n- Detects the content type (Recipe, Quote, Tutorial, Fitness Guide, Travel Card, or Motivational Post)\n- Sends it to the correct OpenAI prompt to generate a full JSON structure\n- Creates a 3:4 image using OpenAI Image Generation API\n- Uploads the generated image to Google Drive\n- (Optional) Generates a short caption based on the card content\n- Updates Airtable with the public image URL and status\n\n## Combine it with [Blotato](https://dub.sh/blotato) for fast social media posting:\n\n## ✨ Built by Razvan from Automation Tribe\n- 🌐 Website: https://www.automation-tribe.com\n- 🆓 Free Community: https://dub.sh/free-community\n- 💼 Paid Community (Full Workflows): https://dub.sh/automation-tribe\n- 🤖 Blotato (Social Media Posting): https://dub.sh/blotato",
        "height": 500,
        "width": 780,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1720,
        -1200
      ],
      "typeVersion": 1,
      "id": "e51f926f-cf31-4145-a91c-8c530333fd3b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: $json.message.content\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -940
      ],
      "id": "250ffe5a-2585-485a-9b05-e0249ec8dbd5",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: $json.message.content\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -740
      ],
      "id": "0046c8d3-294a-4b42-a577-5c6ca53b8dd8",
      "name": "Code1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON card generator specialized for quotes.\n\nI will provide a title or theme: {{ $json.Name }}.\n\nBased on that, generate a valid JSON object formatted exactly like the example below.\n\nThe JSON structure must look like this:\n\njson\nCopy\nEdit\n{\n  \"templates\": {\n    \"quote_template\": {\n      \"image_specs\": {\n        \"style\": \"bold, clean, minimal\",\n        \"resolution\": \"4K\",\n        \"aspect_ratio\": \"3:4\",\n        \"orientation\": \"portrait\",\n        \"file_format\": \"PNG\"\n      },\n      \"layout\": {\n        \"background\": {\n          \"style\": \"gradient\",\n          \"color_scheme\": \"choose a soft gradient\",\n          \"texture\": \"soft grain\"\n        },\n        \"quote\": {\n          \"text\": \"A motivational or inspirational quote based on {{ $json.Name }}\",\n          \"author\": \"Author's Name (realistic or classic)\",\n          \"font\": \"elegant serif\",\n          \"size\": \"28pt\",\n          \"color\": \"#ffffff\",\n          \"position\": \"centered\",\n          \"alignment\": \"center\"\n        },\n        \"badge\": {\n          \"text\": \"Motivation\",\n          \"color\": \"#FFD700\",\n          \"background\": \"#000000\",\n          \"shape\": \"rounded\",\n          \"position\": \"top-left\"\n        },\n        \"footer\": {\n          \"text\": \"Save this quote for later!\",\n          \"font\": \"bold sans-serif\",\n          \"size\": \"18pt\",\n          \"color\": \"#ffffff\",\n          \"position\": \"bottom-center\"\n        }\n      },\n      \"vibe\": \"uplifting, minimalist, clean\",\n      \"reference_note\": \"Designed for motivational posts on Instagram or Pinterest.\"\n    }\n  }\n}\nImportant Output Rules:\n\nOutput must start and end with {} — no extra text.\n\nNo markdown, no explanations.\n\nAlways fill all fields.\n\nUse an inspiring or empowering quote related to {{ $json.Name }}.\n\nUse famous authors or invent new ones that sound realistic if necessary."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        -740
      ],
      "id": "7094f213-42e2-4a5d-b84b-dfbfc44a8aa0",
      "name": "Quotes",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: $json.message.content\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -540
      ],
      "id": "4a6e9d9c-a523-431e-a371-96eb62ac9972",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: $json.message.content\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -340
      ],
      "id": "317e57af-230f-4d1c-80ca-f47587e05454",
      "name": "Code3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON card generator specialized for tutorials and how-to guides.\n\nI will provide a topic name: {{ $json.Name }}.\n\nBased on that, generate a valid JSON object matching the exact format shown below.\n\nThe JSON structure must be:\n\n\n{\n  \"prompt\": \"A modern educational tutorial card with a clean, structured, and slightly futuristic aesthetic. The card features a semi-transparent, softly rounded rectangle layout with subtle pastel accents and delicate soft shadows, giving the appearance of a refined, glass-like digital surface. At the top, prominently display the tutorial title in bold modern sans-serif typography, followed closely by a friendly, concise subtitle that introduces the learning objective. The central area showcases a vertical, clearly numbered list of steps, spaced evenly for maximum clarity and readability, with minimalistic icons optionally accompanying each step. Subtle dividing lines or pastel-colored blocks can be used to organize the steps without crowding the layout. At the bottom of the card, elegantly display the estimated completion time and a highlighted call-to-action encouraging viewers to save or complete the tutorial. The background should be a very light gray or off-white with faint, barely noticeable geometric patterns or soft gradient fades bleeding into the edges, creating visual depth while keeping the design minimal and breathable. Apply soft lighting from above to add gentle ambient shadows around the card edges, giving it depth without heavy contrast. Typography throughout should be softly bolded, premium-feeling, and illuminated subtly for a fresh, educational, and inviting look — perfect for high-end tutorial carousels, educational pins, or mobile learning content.\",\n  \n  \"style\": {\n    \"lighting\": \"Soft natural light or subtle gradients\",\n    \"font\": \"Clean modern sans-serif\",\n    \"layout\": \"Vertical step-based layout with structured padding\",\n    \"materials\": \"Flat UI, soft shadows, minimalistic elements\"\n  },\n  \n  \"parameters\": {\n    \"title\": \"{{ $json.Name }}\",\n    \"subtitle\": \"Short friendly subtitle explaining what you will learn\",\n    \"steps\": [\n      \"Step 1: ...\",\n      \"Step 2: ...\",\n      \"Step 3: ...\"\n    ],\n    \"estimated_time\": \"Estimated completion time (e.g., 20 minutes)\",\n    \"cta\": \"Save this tutorial!\"\n  },\n  \n  \"medium\": \"Digital card for social media tutorials\",\n  \"size\": \"1080px by 1440px\"\n}\n\nImportant Output Rules:\n\nOutput only clean JSON (no markdown, no extra text).\n\nSteps must include 4–6 simple, logical steps in order.\n\nAlways fill estimated time realistically (10 to 60 minutes).\n\nMake the subtitle short and friendly.\n\nVisual description must be vivid but short."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        -540
      ],
      "id": "8155c505-b7ff-4fd3-b871-e8582340a59a",
      "name": "Tutorials",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: $json.message.content\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -140
      ],
      "id": "a73b05dc-82f7-4fef-9031-ab974868a437",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    content: $json.message.content\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        60
      ],
      "id": "33341d49-2014-46fe-b4f1-6eb62617ae68",
      "name": "Code5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON card generator specialized for motivational and affirmational posts.\n\nI will provide a topic or empowering word: {{ $json.Name }}.\n\nBased on that, generate a valid JSON object following the exact format below.\n\nThe JSON structure must be:\n\njson\nCopy\nEdit\n{\n  \"templates\": {\n    \"motivation_template\": {\n      \"image_specs\": {\n        \"style\": \"bold, high contrast\",\n        \"resolution\": \"high\",\n        \"aspect_ratio\": \"3:4\",\n        \"orientation\": \"portrait\",\n        \"file_format\": \"PNG\"\n      },\n      \"layout\": {\n        \"headline\": \"{{ $json.Name }}\",\n        \"statements\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"background\": \"Energetic gradient or bold minimal background\",\n        \"font\": \"bold sans-serif\",\n        \"cta\": \"Share this post with someone who needs it\"\n      },\n      \"vibe\": \"bold, emotional, high-energy\",\n      \"reference_note\": \"Designed for Instagram reels, stories, Pinterest, and motivational carousels.\"\n    }\n  }\n}\nImportant Output Rules:\n\nOutput valid clean JSON (no markdown, no extra text).\n\nCreate 3–4 short bold affirmations related to {{ $json.Name }}.\n\nHeadline should be motivational and very short (1–5 words max).\n\nBackground should sound powerful but simple."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        60
      ],
      "id": "7e320fd9-8290-44bb-9673-85e48665f936",
      "name": "Motivational Posts",
      "credentials": {
        "openAiApi": {
          "id": "wMKWK2pxtmnFBWY4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        180,
        -500
      ],
      "id": "9ffdf6ba-a2df-44a9-a500-ffc247175093",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image1": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Type": {
      "main": [
        [
          {
            "node": "Recepie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tutorials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fitness Guide",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Travel Cards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Motivational Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fitness Guide": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Travel Cards": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recepie": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinterest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fb Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bluesky",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Quotes": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Tutorials": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Motivational Posts": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fff1011-98d0-40df-9102-81ff3c472eb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd95e83f261cee4e80d731cb58d1c4799127663205327ab783b076c62312dcdf"
  },
  "id": "rhPCuuWNWIGhtdVo",
  "tags": [
    {
      "createdAt": "2025-04-21T20:09:06.554Z",
      "updatedAt": "2025-04-21T20:09:06.554Z",
      "id": "3dOSqJMqC8FlNnE3",
      "name": "Automation-Tribe"
    }
  ]
}