n8n/Personal/MasterClass/Module-1-Fondamentaux/1-2-webhook-slack-notification.json
{
  "name": "1.2 - Webhook vers Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-slack",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Réception Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "webhook-slack-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.type }}",
              "rightValue": "notification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-condition-001",
      "name": "Vérifier Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "🔔 {{ $json.message || 'Notification reçue' }}"
            },
            {
              "name": "channel",
              "value": "#general"
            },
            {
              "name": "username",
              "value": "n8n Bot"
            }
          ]
        },
        "options": {}
      },
      "id": "format-message-001",
      "name": "Formater Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel }}",
        "text": "={{ $json.message }}",
        "otherOptions": {
          "username": "={{ $json.username }}"
        }
      },
      "id": "slack-send-001",
      "name": "Envoyer Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "❌ Type de notification non supporté"
            },
            {
              "name": "received_type",
              "value": "={{ $json.type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-handler-001",
      "name": "Gestion Erreur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        750,
        500
      ]
    }
  ],
  "connections": {
    "Réception Webhook": {
      "main": [
        [
          {
            "node": "Vérifier Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vérifier Type": {
      "main": [
        [
          {
            "node": "Formater Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gestion Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Message": {
      "main": [
        [
          {
            "node": "Envoyer Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1-2-webhook-slack-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "2",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "module-1-fondamentaux",
      "name": "Module 1 - Fondamentaux"
    }
  ]
}