workflows_traduits/FR/github_workflows/n8n-workflows/workflows/Mailjet/1956_mailjet_gmail_creation_triggered.json
{
  "id": "pkw1vY5q1p2nNfNC",
  "meta": {
    "instanceId": "24bd2f3b51439b955590389bfa4dd9889fbd30343962de0b7daedce624cf4a71"
  },
  "name": "Forward Netflix emails to multiple email adrobees avec GMail and Mailjet",
  "tags": [
    {
      "id": "NfcTamKf2RPwzXbo",
      "name": "automate-everything",
      "createdAt": "2024-02-14T20:01:44.966Z",
      "updatedAt": "2024-02-14T20:01:44.966Z"
    },
    {
      "id": "1",
      "name": "Audelalia"
    }
  ],
  "nodes": [
    {
      "id": "653e1069-b231-41e4-8257-5276934ec124",
      "name": "Déclencheur Gmail",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        600,
        360
      ],
      "parameters": {
        "simple": false,
        "filters": {
          "sender": "netflix.com",
          "includeSpamTrash": true
        },
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "rbqlV0L0SJmc5Qr6",
          "name": "Gmail account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2edc2a63-b3ce-45a4-ad37-fde991453be5",
      "name": "Mailjet",
      "type": "n8n-nodes-base.mailjet",
      "position": [
        1540,
        360
      ],
      "parameters": {
        "html": "={{ $json.html }}",
        "text": "={{ $json.text }}",
        "subject": "={{ $json.subject }}",
        "toEmail": "={{ $json.recipient }}",
        "fromEmail": "sender@email.com",
        "additionalFields": {}
      },
      "credentials": {
        "mailjetEmailApi": {
          "id": "ToQvJxEpa4shhXkA",
          "name": "Mailjet Email account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "255de753-a0f5-458d-ac7f-ca354076e336",
      "name": "Définir all destinataires",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        360
      ],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "recipients",
              "type": "arrayValue",
              "arrayValue": "['email1@example.com','email2@example.com','email3@example.com']"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "fe3affe4-0655-42b4-a0a6-b8b231180fbd",
      "name": "Split Out destinataires",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1240,
        360
      ],
      "parameters": {
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "recipient"
        },
        "fieldToSplitOut": "recipients"
      },
      "typeVersion": 1
    },
    {
      "id": "c53493f0-8584-43a2-9f93-60c5c7776e60",
      "name": "Note adhésive",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        200
      ],
      "parameters": {
        "width": 257,
        "height": 332,
        "content": "## Gmail\n1. Connect your Gmail Account, where you are receiving emails de your Netflix account. \n2. Définir the polling intervall"
      },
      "typeVersion": 1
    },
    {
      "id": "d07ae854-39ae-4cab-a59f-26c96da99958",
      "name": "Note adhésive1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        200
      ],
      "parameters": {
        "width": 249,
        "height": 338,
        "content": "## Définir all destinataires\nReplace the sample emails in the array avec the email adrobees of your friends and family to whom you want to forward the Netflix emails"
      },
      "typeVersion": 1
    },
    {
      "id": "5393381b-d96d-4b68-aeac-39facafdd0aa",
      "name": "Note adhésive2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        200
      ],
      "parameters": {
        "width": 265,
        "height": 335,
        "content": "## Mailjet\n1. Connect your Mailjet Account to forward the Netflix emails\n2. Définir your expediteur email adrobe"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JgJIAy1RwwG892Kn",
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "6e57d138-9909-46ac-bde4-b59bde72b3e1",
  "connections": {
    "Déclencheur Gmail": {
      "main": [
        [
          {
            "node": "Définir all destinataires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Définir all destinataires": {
      "main": [
        [
          {
            "node": "Split Out destinataires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out destinataires": {
      "main": [
        [
          {
            "node": "Mailjet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}