workflows/Automation Tribe Primium/23 - Nano Banana n8n/At 38 - Nano banana.json
{
  "name": "At 38 - Nano banana",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cbf59f44-4222-41a8-8894-b974849bde4c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -96
      ],
      "id": "b3176c1e-d2f4-47c7-90f7-e4263ed8d4bc",
      "name": "Webhook",
      "webhookId": "cbf59f44-4222-41a8-8894-b974849bde4c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "=generate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9319b313-7407-41fc-bb34-8a93f63855ad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4e860fc-90f0-4ced-9beb-a3c8a64fe73f",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "=edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edit"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -96,
        -96
      ],
      "id": "1a9a69ca-46e6-4278-baf9-aab7db08dc70",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/playground/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.body.prompt }}\",\n    \"num_images\": \"1\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -192
      ],
      "id": "0b90c5bf-319b-480f-9bfd-6dfba5c71fe3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nztsfn7u5veMPZQ",
          "name": "Vie"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/playground/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana-edit\",\n  \"input\": {\n    \"prompt\": \"{{ $('Webhook').item.json.body.prompt }}\",\n    \"image_urls\": [\n      \"{{ $json.imageUrl }}\"\n    ],\n    \"num_images\": \"1\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        0
      ],
      "id": "d09544b7-b653-4c14-a9ee-44acf306e4b1",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nztsfn7u5veMPZQ",
          "name": "Vie"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        -192
      ],
      "id": "dc68795e-f61e-4e7d-8d71-adab25143180",
      "name": "Wait",
      "webhookId": "c5d30efb-f492-427b-bd13-fd7e4bf31e12"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/playground/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -192
      ],
      "id": "16aaf5a6-c1a7-42c6-b427-cc91f9ded43c",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nztsfn7u5veMPZQ",
          "name": "Vie"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "image/png"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        -192
      ],
      "id": "b51dc141-7e5b-45f0-a386-90cc6bc1393c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "={{ $json.data?.resultJson?.resultUrls?.[0] ?? (JSON.parse($json.data?.resultJson || '{}').resultUrls?.[0]) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -192
      ],
      "id": "a2a2bc7b-01ef-4c58-9b90-32f52a15aaae",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "48388e19-03b3-4f71-bc69-d10a2b0ace54",
      "name": "Wait1",
      "webhookId": "60fbe1ce-4e35-4f07-abf7-d15ef1e58ff1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "image/png"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        0
      ],
      "id": "f7e77971-eb16-46a4-8c9d-273eff7d46c1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/playground/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "735fc887-7098-4dbc-adff-17c3c3682310",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nztsfn7u5veMPZQ",
          "name": "Vie"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.automation-tribe.com/4-n8n-to-url-converter-DONE/n8n-to-url-converter.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "my_test_image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "imageFile",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        0
      ],
      "id": "6f515c90-945e-4617-9b73-fda05115da8f",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "={{ $json.data?.resultJson?.resultUrls?.[0] ?? (JSON.parse($json.data?.resultJson || '{}').resultUrls?.[0]) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        0
      ],
      "id": "913e1415-1c15-4cd2-8ca7-934971ce4dec",
      "name": "HTTP Request6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c929435-e1bf-40f0-a2c0-ec6994f7f4b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd95e83f261cee4e80d731cb58d1c4799127663205327ab783b076c62312dcdf"
  },
  "id": "n56oKJc5ySYCF8ES",
  "tags": [
    {
      "createdAt": "2025-04-21T20:09:06.554Z",
      "updatedAt": "2025-04-21T20:09:06.554Z",
      "id": "3dOSqJMqC8FlNnE3",
      "name": "Automation-Tribe"
    }
  ]
}