PACKS_WORKFLOWS_VENDEURS_FR/18_ECOMMERCE_PROFIT_MAXIMIZER_52EUR/09_0245_HTTP_Stripe_Create_Webhook_FR.json
{
  "meta": {
    "instanceId": "237600ca44303ce91fa31ee72babcdc8493f55ee2c0e8aa2b78b3b4ce6f70bd9"
  },
  "nodes": [
    {
      "id": "acf47a04-1f3f-448a-b571-a94c84004c45",
      "name": "Le temps gagné actuel n'est pas égal au précédent",
      "type": "n8n-nodes-base.if",
      "position": [
        140,
        260
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"current\"].won_time}}",
              "value2": "={{ $json[\"previous\"].won_time}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "452a0208-be12-4aac-8c1a-9101ab79f8fb",
      "name": "Lors de la mise à jour de l'affaire",
      "type": "n8n-nodes-base.pipedriveTrigger",
      "position": [
        -80,
        260
      ],
      "webhookId": "af0f5626-e92f-4e29-bdc8-8e13c9c9cf99",
      "parameters": {
        "action": "updated",
        "object": "deal"
      },
      "credentials": {
        "pipedriveApi": {
          "id": "1",
          "name": "Pipedrive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "202b9a47-2f00-43ec-bbab-ba82f94e4174",
      "name": "Obtenir les détails de l'organisation",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        380,
        240
      ],
      "parameters": {
        "resource": "organization",
        "operation": "get",
        "organizationId": "={{ $json[\"current\"].org_id }}",
        "resolveProperties": true
      },
      "credentials": {
        "pipedriveApi": {
          "id": "1",
          "name": "Pipedrive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b88e18a3-1514-424f-ba96-c8bb94c14cb3",
      "name": "Rechercher un client",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        100
      ],
      "parameters": {
        "url": "https://api.stripe.com/v1/customers/search",
        "options": {},
        "authentication": "predefinedCredentialType",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "=name:'{{ $json[\"Name\"] }}'"
            }
          ]
        },
        "nodeCredentialType": "stripeApi"
      },
      "credentials": {
        "stripeApi": {
          "id": "3",
          "name": "Stripe account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "b4a4491e-8d69-41b6-83a4-128f228108e3",
      "name": "Le client n'existe pas",
      "type": "n8n-nodes-base.if",
      "position": [
        860,
        100
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ JSON.stringify($json[\"data\"]) }}",
              "value2": "[]"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "6aeaa043-ce4b-4665-a1eb-9fe66d86202f",
      "name": "Continuer avec les données de l'organisation",
      "type": "n8n-nodes-base.merge",
      "position": [
        1120,
        220
      ],
      "parameters": {
        "mode": "passThrough",
        "output": "input2"
      },
      "typeVersion": 1
    },
    {
      "id": "21bc3b5a-72eb-4015-957a-7facfce371e0",
      "name": "Créer un client",
      "type": "n8n-nodes-base.stripe",
      "position": [
        1360,
        220
      ],
      "parameters": {
        "name": "={{ $json[\"Name\"] }}",
        "resource": "customer",
        "operation": "create",
        "additionalFields": {
          "address": {
            "details": {
              "city": "={{ $json[\"City/town/village/locality\"] }}",
              "line1": "={{ $json[\"Street/road name\"] }} {{ $json[\"House number\"] }}",
              "state": "={{ $json[\"State/county\"] }}",
              "country": "={{ $json[\"Country\"] }}",
              "postal_code": "={{ $json[\"ZIP/Postal code\"] }}"
            }
          }
        }
      },
      "credentials": {
        "stripeApi": {
          "id": "3",
          "name": "Stripe account"
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Lors de la mise à jour de l'affaire": {
      "main": [
        [
          {
            "node": "Le temps gagné actuel n'est pas égal au précédent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher un client": {
      "main": [
        [
          {
            "node": "Le client n'existe pas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Le client n'existe pas": {
      "main": [
        [
          {
            "node": "Continuer avec les données de l'organisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenir les détails de l'organisation": {
      "main": [
        [
          {
            "node": "Rechercher un client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Continuer avec les données de l'organisation",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Continuer avec les données de l'organisation": {
      "main": [
        [
          {
            "node": "Créer un client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Le temps gagné actuel n'est pas égal au précédent": {
      "main": [
        [
          {
            "node": "Obtenir les détails de l'organisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}