PACKS_WORKFLOWS_VENDEURS_FR/06_TELEGRAM_CRYPTO_EMPIRE_52EUR/04_1130_Noop_Twilio_Send_Scheduled_FR.json
{
  "id": "79",
  "name": "Obtenir le prix du BTC en EUR et envoyer un SMS lorsque le prix est supérieur à 9000 EUR",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        590,
        500
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "CoinGecko",
      "type": "n8n-nodes-base.coinGecko",
      "position": [
        790,
        500
      ],
      "parameters": {
        "coinIds": [
          "bitcoin"
        ],
        "options": {},
        "operation": "price",
        "currencies": [
          "eur"
        ]
      },
      "typeVersion": 1
    },
    {
      "name": "SI",
      "type": "n8n-nodes-base.if",
      "position": [
        990,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"CoinGecko\"].json[\"bitcoin\"][\"eur\"]}}",
              "value2": 9000,
              "operation": "largerEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "position": [
        1190,
        400
      ],
      "parameters": {
        "to": "1234",
        "from": "1234",
        "message": "=Le prix a augmenté ! Le nouveau prix est {{$node[\"CoinGecko\"].json[\"bitcoin\"][\"eur\"]}}"
      },
      "credentials": {
        "twilioApi": "twilio-credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1190,
        600
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "SI": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "CoinGecko",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoinGecko": {
      "main": [
        [
          {
            "node": "SI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}