PACKS_WORKFLOWS_VENDEURS_FR/06_TELEGRAM_CRYPTO_EMPIRE_52EUR/13_1869_Manual_N8Ntrainingcustomerdatastore_Automation_Triggered_FR.json
{
  "id": "gkOayLvJnwcTiHbk",
  "meta": {
    "instanceId": "bd0e051174def82b88b5cd547222662900558d74b239c4048ea0f6b7ed61c642"
  },
  "name": "exemple itemMatching()",
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ],
  "nodes": [
    {
      "id": "ba0e23f6-aec6-4c22-8e7c-ab4fc65c7767",
      "name": "Lors du clic sur \"Exécuter le workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        640,
        500
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "8434c3b4-5b80-48e5-803b-b84eb750b2c5",
      "name": "Base de données client (formation n8n)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        880,
        500
      ],
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "typeVersion": 1
    },
    {
      "id": "4750754a-92a6-44d2-a353-22fbb51a4d00",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        500
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "for i,item in enumerate(_input.all()):\n  _input.all()[i].json.restoreEmail = _('Customer Datastore (n8n training)').itemMatching(i).json.email\n\nreturn _input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "9ac437bd-0d0d-4d92-845a-a1c9a7976d4d",
      "name": "Modifier les champs",
      "type": "n8n-nodes-base.set",
      "position": [
        1180,
        500
      ],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "name",
              "stringValue": "={{ $json.name }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "d59c512c-2dca-4960-b287-b4908713b0a3",
      "name": "Note autocollante",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        400
      ],
      "parameters": {
        "height": 304,
        "content": "## Générer des données d'exemple"
      },
      "typeVersion": 1
    },
    {
      "id": "fad37032-13cc-461e-b48e-a2f470d07823",
      "name": "Note autocollante1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        398
      ],
      "parameters": {
        "height": 303,
        "content": "## Réduire les données\n\nSupprimer toutes les données sauf les noms"
      },
      "typeVersion": 1
    },
    {
      "id": "d0751fce-d9f0-40bf-aeb2-9dbc5d0e9bdb",
      "name": "Note autocollante2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        400
      ],
      "parameters": {
        "height": 304,
        "content": "## Restaurer\n\nRestaurer les données des adresses e-mail"
      },
      "typeVersion": 1
    },
    {
      "id": "2b1a67e9-60d6-411e-8ae7-94b02da6be34",
      "name": "Note autocollante3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        430,
        220
      ],
      "parameters": {
        "width": 352,
        "height": 264,
        "content": "## À propos de ce workflow\n\nCe workflow fournit un exemple simple de la façon d'utiliser `itemMatching(itemIndex: Number)` dans le nœud Code pour récupérer les éléments liés provenant d'une étape antérieure du workflow.\n\nCet exemple utilise JavaScript. Consultez [Retrieve linked items from earlier in the workflow](https://docs.n8n.io/code/cookbook/builtin/itemmatching/) pour le code Python.\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02e18c8e-1bec-4170-a2d0-72ec6e063273",
  "connections": {
    "Modifier les champs": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lors du clic sur \"Exécuter le workflow\"": {
      "main": [
        [
          {
            "node": "Base de données client (formation n8n)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de données client (formation n8n)": {
      "main": [
        [
          {
            "node": "Modifier les champs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}