masterclass/module-1-fondamentaux/workflows/workflow-1-3-google-sheets.json
{
  "name": "Module 1.3 - Lire Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual-001",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "google-sheets-001",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "table",
        "tableData": "={{ $json }}",
        "options": {
          "columns": [
            {
              "displayName": "Nom",
              "key": "nom"
            },
            {
              "displayName": "Email",
              "key": "email"
            },
            {
              "displayName": "Date",
              "key": "date"
            }
          ]
        }
      },
      "id": "html-table-001",
      "name": "Afficher en tableau",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [[{"node": "Google Sheets", "type": "main", "index": 0}]]
    },
    "Google Sheets": {
      "main": [[{"node": "Afficher en tableau", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Ce workflow lit les données d'une feuille Google Sheets et les affiche dans un tableau HTML. Parfait pour débuter avec les intégrations Google!"
  },
  "versionId": "1.0.0"
}