masterclass/module-1-fondamentaux/workflows/workflow-1-2-envoi-email.json
{
  "name": "Module 1.2 - Envoi d'Email Simple",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0e8d9c7-b6a5-4321-9876-543210fedcba",
              "name": "destinataire",
              "value": "votre-email@example.com",
              "type": "string"
            },
            {
              "id": "a9b8c7d6-e5f4-3210-9876-543210abcdef",
              "name": "sujet",
              "value": "Mon premier email depuis n8n 🚀",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-4567-890abcdef123",
              "name": "message",
              "value": "Bonjour,\\n\\nCeci est mon premier email automatisé envoyé depuis n8n!\\n\\nC'est le début d'une grande aventure dans l'automatisation.\\n\\nCordialement,\\nVotre assistant n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Préparer les données",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinataire }}",
        "subject": "={{ $json.sujet }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.2,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [[{"node": "Préparer les données", "type": "main", "index": 0}]]
    },
    "Préparer les données": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "1.0.0"
}