masterclass/module-1-fondamentaux/workflows/workflow-1-4-transformer-donnees.json
{
  "name": "Module 1.4 - Transformer des Données",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-transform",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "data-001",
              "name": "utilisateurs",
              "value": "=[\n  {\"nom\": \"Jean Dupont\", \"email\": \"jean@example.com\", \"age\": 25},\n  {\"nom\": \"Marie Martin\", \"email\": \"marie@example.com\", \"age\": 32},\n  {\"nom\": \"Pierre Bernard\", \"email\": \"pierre@example.com\", \"age\": 18},\n  {\"nom\": \"Sophie Durand\", \"email\": \"sophie@example.com\", \"age\": 45}\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data-001",
      "name": "Données de test",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.age }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-001",
      "name": "Filtrer > 30 ans",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transform-001",
              "name": "nom_majuscule",
              "value": "={{ $json.nom.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "transform-002",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "transform-003",
              "name": "categorie_age",
              "value": "={{ $json.age >= 40 ? 'Senior' : 'Adulte' }}",
              "type": "string"
            },
            {
              "id": "transform-004",
              "name": "message_personnalise",
              "value": "=Bonjour {{ $json.nom.split(' ')[0] }}, bienvenue dans notre programme!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "transform-001",
      "name": "Transformer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "aggregationMode": "aggregateIndividualFields",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "nom_majuscule",
              "aggregationFunction": "concatenate",
              "includeEmpty": false
            }
          ]
        },
        "options": {}
      },
      "id": "aggregate-001",
      "name": "Agrégation",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [[{"node": "Données de test", "type": "main", "index": 0}]]
    },
    "Données de test": {
      "main": [[{"node": "Filtrer > 30 ans", "type": "main", "index": 0}]]
    },
    "Filtrer > 30 ans": {
      "main": [[{"node": "Transformer", "type": "main", "index": 0}]]
    },
    "Transformer": {
      "main": [[{"node": "Agrégation", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Apprenez à filtrer, transformer et agréger des données. Ce workflow montre les opérations de base sur les données."
  },
  "versionId": "1.0.0"
}