PACKS_WORKFLOWS_VENDEURS_FR/08_TELEGRAM_MARKETING_DOMINATION_32EUR/07_0305_Manual_Telegram_Create_Triggered_FR.json
{
  "id": "191",
  "name": "Créer une capture d'écran d'un site web et l'envoyer à une chaîne Telegram",
  "nodes": [
    {
      "name": "Lors du clic sur 'exécuter'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        650,
        300
      ],
      "parameters": {
        "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
        "chatId": "",
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "Telegram n8n bot"
      },
      "typeVersion": 1
    },
    {
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://n8n.io",
        "tool": "getUrlScreenshot",
        "group": "image",
        "width": "1024",
        "fullpage": "yes",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "uProc credentials"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "uProc": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lors du clic sur 'exécuter'": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}