PACKS_WORKFLOWS_VENDEURS_FR/08_TELEGRAM_MARKETING_DOMINATION_32EUR/12_0704_Telegram_Automate_Triggered_FR.json
{
  "id": "27",
  "name": "N8N Français - BOT",
  "nodes": [
    {
      "name": "Salutations-IF",
      "type": "n8n-nodes-base.if",
      "position": [
        450,
        450
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Salutations-IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        490,
        630
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "S-Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        700,
        660
      ],
      "parameters": {
        "text": "=✖️ {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}} PARTI. 🙏 Que les Dieux te protègent.",
        "chatId": "=@comunidadn8n",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Español - BOT"
      },
      "typeVersion": 1
    },
    {
      "name": "Saludos-TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        260,
        560
      ],
      "webhookId": "4ef8c98e-e617-4d36-9c6d-04fae7e9298c",
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Español - BOT"
      },
      "typeVersion": 1
    },
    {
      "name": "S-Telegram2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        730,
        460
      ],
      "parameters": {
        "text": "=✔️ {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}, bienvenue à N8N en Français ! 🙌",
        "chatId": "=@comunidadn8n",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "N8N Español - BOT"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "Salutations-IF": {
      "main": [
        [],
        [
          {
            "node": "S-Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salutations-IF1": {
      "main": [
        [],
        [
          {
            "node": "S-Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludos-TelegramTrigger": {
      "main": [
        [
          {
            "node": "Salutations-IF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salutations-IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "id": "1",
      "name": "Audelalia"
    }
  ]
}